openapi: 3.1.0
info:
  title: Discovery Provider v2 API
  description: REST API for implementations of custom v2 Discovery Provider
  contact:
    name: ILM
    url: https://www.otilm.com
    email: ilm@omnitrust.com
  license:
    name: "Apache License, Version 2.0"
    url: https://github.com/OmniTrustILM/interface-documentation/blob/main/LICENSE.md
  version: 2.20.0-SNAPSHOT
  x-logo:
    url: images/ilm-logo.svg
  x-metrics-profile:
    version: 1
    histograms:
      http_server_latency_buckets_seconds:
      - 0.005
      - 0.01
      - 0.025
      - 0.05
      - 0.1
      - 0.25
      - 0.5
      - 1.0
      - 2.5
      - 5.0
      - 10.0
      http_client_latency_buckets_seconds:
      - 0.01
      - 0.025
      - 0.05
      - 0.1
      - 0.25
      - 0.5
      - 1.0
      - 2.5
      - 5.0
      - 10.0
    required:
    - type: gauge
      name: app_build_info
      unit: "1"
      labels:
      - version
      - commit
      - runtime
    - type: gauge
      name: process_start_time_seconds
      unit: seconds
      labels: []
    - type: counter
      name: process_cpu_seconds_total
      unit: seconds
      labels: []
    - type: gauge
      name: process_resident_memory_bytes
      unit: bytes
      labels: []
    - type: counter
      name: http_requests_total
      unit: requests
      labels:
      - method
      - route
      - status
    - buckets_ref: http_server_latency_buckets_seconds
      name: http_request_duration_seconds
      unit: seconds
      type: histogram
      labels:
      - method
      - route
    - type: gauge
      name: http_server_in_flight_requests
      unit: requests
      labels:
      - route
    - type: counter
      name: http_client_requests_total
      unit: requests
      labels:
      - method
      - target
      - status
    - buckets_ref: http_client_latency_buckets_seconds
      name: http_client_request_duration_seconds
      unit: seconds
      type: histogram
      labels:
      - method
      - target
    - type: counter
      name: connector_events_total
      unit: events
      labels:
      - event
      - outcome
externalDocs:
  description: ILM Documentation
  url: https://docs.otilm.com
servers:
- url: https://demo.otilm.com
  description: ILM Demo server
tags:
- name: Metrics API
  description: Connector metrics API. Connector metrics API is exposing standard Prometheus/OpenMetrics
    metrics that can be scraped by observability solutions and collectors.
- name: Connector Attributes v2
  description: Attribute-definition registry and stateless callback surface for NG
    connectors.
- name: Health check v2
  description: "Connector Health check API. Connector returns own status and in some\
    \ cases can return status of components on which it depends like database, HSM\
    \ and so on."
- name: Connector Info v2
  description: "Connector Information API. Each connector may have multiple functions\
    \ represented by its connector interfaces. For each connector interface there\
    \ is a list of implemented endpoints. These endpoints must be according the specified\
    \ interface, this is validated by the core. You can also implement helper end\
    \ points that are used for callbacks and other relevant operations specific to\
    \ implementation."
- name: Discovery Metadata v2
  description: "Stateless discovery v2 metadata surface: which resource types this\
    \ connector supports, and the attribute schema for configuring a run."
- name: Discovery Operations v2
  description: "Stateless discovery v2 run lifecycle: initiate a run, poll or stream\
    \ its results, and control it (stop/resume/cancel). Every call carries the full\
    \ runId + meta + attributes context; the connector is not required to hold any\
    \ state between calls. A connector MUST answer 404 for any runId it does not recognize,\
    \ including after a restart."
paths:
  /v2/discoveryProvider/discoveries/stream:
    post:
      tags:
      - Discovery Operations v2
      summary: Stream discovery events
      description: "Opens a chunked application/x-ndjson response, one JSON event\
        \ object per line, replaying items with sequence greater than afterSequence\
        \ and then continuing to emit live events (progress, resultBatch, stateChanged,\
        \ heartbeat, error) until the run reaches a terminal state or the caller disconnects.\
        \ Only one stream may be active per run at a time: a new call to this endpoint\
        \ for the same runId supersedes any prior one, and the connector MUST close\
        \ the earlier response as it begins serving the new one. This endpoint is\
        \ reached by direct HTTP only and never traverses the platform proxy; a connector\
        \ reachable only through the proxy MUST NOT advertise the discoveryStreaming\
        \ feature flag."
      operationId: stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryStreamRequestDto"
        required: true
      responses:
        "200":
          description: "NDJSON event stream opened; the body is one flat JSON DiscoveryEvent\
            \ object per line, never a JSON array of events"
          content:
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/DiscoveryEvent"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/stop:
    post:
      tags:
      - Discovery Operations v2
      summary: Stop a discovery run
      description: "Halts scanning for an in-progress run. The connector persists\
        \ a best-effort checkpoint into the returned meta; this checkpoint MUST preserve\
        \ the item sequence counter, so a subsequent resume continues assigning sequences\
        \ from where the run left off. Items already discovered but not yet drained\
        \ remain drainable via POST /results while the run is stopped."
      operationId: stop
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryRunRequestDto"
        required: true
      responses:
        "200":
          description: Run stopped; meta carries the checkpoint to resume from
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryStopResponseDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "422":
          description: "Run cannot be stopped: past the point of no return, or the\
            \ connector cannot checkpoint this run (errorCode OPERATION_PAST_POINT_OF_NO_RETURN).\
            \ Core's own gate rejects stops for runs whose effective stoppability\
            \ is false before they reach the connector, so this refusal is the connector's\
            \ runtime authority"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/status:
    post:
      tags:
      - Discovery Operations v2
      summary: Get discovery run status
      description: Returns the run's current state and progress.
      operationId: status
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryRunRequestDto"
        required: true
      responses:
        "200":
          description: Run status retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryStatusResponseDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/resume:
    post:
      tags:
      - Discovery Operations v2
      summary: Resume a stopped discovery run
      description: Continues a stopped run from the checkpoint carried in the replayed
        meta. Item sequences assigned after resuming continue the run's existing sequence
        space; the connector never restarts numbering for a resumed run.
      operationId: resume
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryRunRequestDto"
        required: true
      responses:
        "202":
          description: "Resume accepted; meta carries the connector's (possibly updated)\
            \ opaque run handle, and stoppable, when present, re-declares whether\
            \ the resumed run can be stopped again"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryInitiateResponseDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "410":
          description: "The checkpoint needed to resume this run is no longer available\
            \ (errorCode CHECKPOINT_LOST); distinct from 404, which means the run\
            \ was never known"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/results:
    post:
      tags:
      - Discovery Operations v2
      summary: Drain discovered items
      description: "Returns one page of items discovered after afterSequence, bounded\
        \ by maxItems and maxBytes. This call doubles as the acknowledgment mechanism:\
        \ submitting a given afterSequence is the implicit ack for every item at or\
        \ below it, and the connector MAY discard those items once it has answered.\
        \ Draining is legal at any point during a live run. A drain with afterSequence\
        \ equal to highestSequence, made after the run has reached a terminal state,\
        \ is the full ack. Until the full ack arrives, the connector MUST retain terminal-run\
        \ state for at least 24 hours after the run reached a terminal state. Once\
        \ the full ack arrives, the connector MAY discard all state it holds for the\
        \ run."
      operationId: results
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryDrainRequestDto"
        required: true
      responses:
        "200":
          description: Items retrieved; more indicates whether additional items remain
            beyond this page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryResultsResponseDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/initiate:
    post:
      tags:
      - Discovery Operations v2
      summary: Initiate a discovery run
      description: Starts a new discovery run for the given resource types and attributes.
        runId is minted by Core and never reused. The connector MUST validate the
        full payload — including that every requested resource type is supported —
        and reject the whole request with 422 rather than silently narrowing the resource
        set. Submitting the same runId again with an identical payload MUST be answered
        idempotently with another 202.
      operationId: initiate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryInitiateRequestDto"
        required: true
      responses:
        "202":
          description: "Run accepted; meta carries the connector's opaque run handle,\
            \ replayed on every subsequent lifecycle call, and stoppable, when present,\
            \ declares whether this run can be stopped and resumed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryInitiateResponseDto"
        "422":
          description: One or more requested resources or attributes are unsupported
            or invalid (errorCode VALIDATION_FAILED)
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/discoveries/cancel:
    post:
      tags:
      - Discovery Operations v2
      summary: Cancel a discovery run
      description: Terminally aborts the run; the connector discards its job state
        for this runId once it has answered.
      operationId: cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveryRunRequestDto"
        required: true
      responses:
        "204":
          description: Run cancelled
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "422":
          description: "Cancel refused: the run is past the point of no return (errorCode\
            \ OPERATION_PAST_POINT_OF_NO_RETURN)"
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/attributes/callback:
    post:
      tags:
      - Connector Attributes v2
      summary: Execute an attribute callback
      description: "Resolves dynamic attribute content for the attribute identified\
        \ in the request, using the supplied scope and current attribute values."
      operationId: callback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeCallbackRequestDto"
        required: true
      responses:
        "200":
          description: Callback executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeCallbackResponseDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "422":
          description: Callback request failed validation at the connector
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/info:
    get:
      tags:
      - Connector Info v2
      summary: Get Connector Info
      description: Returns information about the connector and implemented interfaces.
      operationId: getConnectorInfo
      responses:
        "200":
          description: Connector info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security: []
  /v2/health:
    get:
      tags:
      - Health check v2
      summary: Health check
      operationId: checkHealth
      responses:
        "200":
          description: Health check retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "503":
          description: Service Unavailable. Health check indicates service or its
            component is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security: []
  /v2/health/readiness:
    get:
      tags:
      - Health check v2
      summary: Health readiness check
      operationId: checkHealthReadiness
      responses:
        "200":
          description: Health readiness check retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "503":
          description: Service Unavailable. Health readiness check indicates service
            or its component is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security: []
  /v2/health/liveness:
    get:
      tags:
      - Health check v2
      summary: Health liveness check
      operationId: checkHealthLiveness
      responses:
        "200":
          description: Health liveness check retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "503":
          description: Service Unavailable. Health liveness check indicates service
            or its component is not live
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthInfo"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security: []
  /v2/discoveryProvider/{resource}/attributes:
    get:
      tags:
      - Discovery Metadata v2
      summary: List per-resource attributes
      description: "Returns the attribute schema that refines discovery of a single\
        \ resource type. Values collected against this schema are replayed back to\
        \ the connector as the per-resource attributes, keyed by resource, on every\
        \ discovery lifecycle call."
      operationId: listResourceAttributes
      parameters:
      - name: resource
        in: path
        description: "Resource type, identified by its wire code (e.g. \"certificates\"\
          , \"keys\")"
        required: true
        schema:
          $ref: "#/components/schemas/Resource"
      responses:
        "200":
          description: Per-resource attribute schema retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseAttributeDto"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/resources:
    get:
      tags:
      - Discovery Metadata v2
      summary: List supported resources
      description: "Returns the resource types this connector can discover. Whether\
        \ a concrete run can be stopped and resumed is not declared here: the connector\
        \ states it per run, in the initiate response's stoppable field."
      operationId: listSupportedResources
      responses:
        "200":
          description: Supported resources retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DiscoverySupportedResourceDto"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/discoveryProvider/attributes:
    get:
      tags:
      - Discovery Metadata v2
      summary: List run-level attributes
      description: "Returns the attribute schema that configures a discovery run as\
        \ a whole and applies to every resource type targeted by that run (for example,\
        \ target addresses or address ranges). Values collected against this schema\
        \ are replayed back to the connector as the run-level attributes on every\
        \ discovery lifecycle call."
      operationId: listRunAttributes
      responses:
        "200":
          description: Run-level attribute schema retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseAttributeDto"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/attributes:
    get:
      tags:
      - Connector Attributes v2
      summary: List attribute definitions
      description: "Returns the connector's attribute-definition registry. With the\
        \ optional uuids parameter, returns only the matching definitions (found ones);\
        \ otherwise returns the full registry."
      operationId: listDefinitions
      parameters:
      - name: uuids
        in: query
        description: Connector-global attribute UUIDs to look up. Repeat the parameter
          per UUID.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      responses:
        "200":
          description: Attribute definitions retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionsDto"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v2/attributes/{uuid}:
    get:
      tags:
      - Connector Attributes v2
      summary: Get an attribute definition
      description: Returns a single attribute definition by its connector-global UUID.
      operationId: getDefinition
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Attribute definition retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseAttributeDto"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
  /v1/metrics:
    get:
      tags:
      - Metrics API
      summary: Get metrics
      operationId: getMetrics
      responses:
        "200":
          description: Metrics retrieved successfully
          content:
            application/openmetrics-text; version=1.0.0; charset=utf-8:
              schema:
                type: string
                description: "[OpenMetrics v1.0.0 text format](https://prometheus.io/docs/specs/om/open_metrics_spec/#text-format)"
              example: |-
                # TYPE http_requests_total counter
                http_requests_total{method="GET"} 42
            text/plain:
              schema:
                type: string
                description: "[Legacy Prometheus 0.0.4 text format](https://github.com/Showmax/prometheus-docs/blob/master/content/docs/instrumenting/exposition_formats.md#format-version-004)"
              example: |-
                # HELP http_requests_total Total requests
                # TYPE http_requests_total counter
                http_requests_total{method="GET"} 42
        "503":
          description: Service Unavailable. Metrics could not be retrieved
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "404":
          description: Not Found. Endpoint not found or not implemented
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetailExtended"
      security:
      - ConnectorAPIKeyAuth: []
      - CertificateTLSAuth: []
      - NoAuth: []
      - BasicAuth: []
components:
  schemas:
    ApiKeySecretContent:
      type: object
      description: Secret representing an API Key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: API Key content string
          minLength: 1
      required:
      - content
      - type
      title: ApiKeySecretContent
    AttributeCallback:
      type: object
      properties:
        callbackContext:
          type: string
          description: Context part of callback URL
        callbackMethod:
          type: string
          description: HTTP method of the callback. This value is required for connector
            callbacks and optional only for callbacks defined on resource objects.
        mappings:
          type: array
          description: Mappings for the callback method
          items:
            $ref: "#/components/schemas/AttributeCallbackMapping"
          uniqueItems: true
        dependsOn:
          type: array
          description: "Names of the attributes, within this same form, whose values\
            \ this Attributes v2 callback consumes and is triggered by. Providing\
            \ this field — even as an empty list — marks the callback as an Attributes\
            \ v2 callback; an empty list means the callback fires once when the form\
            \ opens (it depends on no other field). At most one of dependsOn or callbackContext\
            \ may be set; a callback with neither field set defines no callback. Not\
            \ allowed on RESOURCE attributes. These rules are enforced by the platform."
          items:
            type: string
      required:
      - mappings
    AttributeCallbackMapping:
      type: object
      properties:
        from:
          type: string
          description: Name of the attribute whose value is to be used as value of
            path variable or request param or body field.It is optional and must be
            set only if value is not set.
        attributeType:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the attribute. It is optional and must be set only
            if special behaviour is needed.
        attributeContentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: 'Type of the attribute content. '
        to:
          type: string
          description: Name of the path variable or request param or body field which
            is to be used to assign value of attribute
        targets:
          type: array
          description: Set of targets for propagating value.
          items:
            $ref: "#/components/schemas/AttributeValueTarget"
          uniqueItems: true
        value:
          description: Static value to be propagated to targets. It is optional and
            is set only if the value is known at attribute creation time.
      required:
      - targets
      - to
    AttributeConstraintType:
      type: string
      enum:
      - regExp
      - range
      - dateTime
      - jsonSchema
    AttributeContentType:
      type: string
      enum:
      - string
      - text
      - integer
      - boolean
      - float
      - date
      - time
      - datetime
      - secret
      - file
      - credential
      - codeblock
      - object
      - resource
    AttributeResource:
      type: string
      enum:
      - certificates
      - credentials
      - authorities
      - entities
      - locations
      - secrets
    AttributeType:
      type: string
      enum:
      - data
      - group
      - info
      - meta
      - custom
    AttributeValueTarget:
      type: string
      enum:
      - pathVariable
      - requestParameter
      - body
      - filter
    AttributeVersion:
      type: string
      enum:
      - v2
      - v3
    BaseAttributeConstraint:
      type: object
      description: Base Attribute Constraint definition
      discriminator:
        propertyName: type
        mapping:
          regExp: "#/components/schemas/RegexpAttributeConstraint"
          range: "#/components/schemas/RangeAttributeConstraint"
          dateTime: "#/components/schemas/DateTimeAttributeConstraint"
          jsonSchema: "#/components/schemas/JsonSchemaAttributeConstraint"
      oneOf:
      - $ref: "#/components/schemas/RegexpAttributeConstraint"
      - $ref: "#/components/schemas/RangeAttributeConstraint"
      - $ref: "#/components/schemas/DateTimeAttributeConstraint"
      - $ref: "#/components/schemas/JsonSchemaAttributeConstraint"
      properties:
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        description:
          type: string
          description: Description of the constraint
      required:
      - type
    BaseAttributeContentDtoV2:
      type: object
      description: Base Attribute ContentV2 definition
      oneOf:
      - $ref: "#/components/schemas/BooleanAttributeContentV2"
      - $ref: "#/components/schemas/CodeBlockAttributeContentV2"
      - $ref: "#/components/schemas/CredentialAttributeContentV2"
      - $ref: "#/components/schemas/DateAttributeContentV2"
      - $ref: "#/components/schemas/DateTimeAttributeContentV2"
      - $ref: "#/components/schemas/FileAttributeContentV2"
      - $ref: "#/components/schemas/FloatAttributeContentV2"
      - $ref: "#/components/schemas/IntegerAttributeContentV2"
      - $ref: "#/components/schemas/ObjectAttributeContentV2"
      - $ref: "#/components/schemas/SecretAttributeContentV2"
      - $ref: "#/components/schemas/StringAttributeContentV2"
      - $ref: "#/components/schemas/TextAttributeContentV2"
      - $ref: "#/components/schemas/TimeAttributeContentV2"
      properties:
        reference:
          type: string
          description: ContentV2 Reference
    BaseAttributeContentDtoV3:
      description: Base Attribute Content
      discriminator:
        propertyName: contentType
        mapping:
          boolean: "#/components/schemas/BooleanAttributeContentV3"
          codeblock: "#/components/schemas/CodeBlockAttributeContentV3"
          date: "#/components/schemas/DateAttributeContentV3"
          datetime: "#/components/schemas/DateTimeAttributeContentV3"
          file: "#/components/schemas/FileAttributeContentV3"
          float: "#/components/schemas/FloatAttributeContentV3"
          integer: "#/components/schemas/IntegerAttributeContentV3"
          object: "#/components/schemas/ObjectAttributeContentV3"
          string: "#/components/schemas/StringAttributeContentV3"
          text: "#/components/schemas/TextAttributeContentV3"
          time: "#/components/schemas/TimeAttributeContentV3"
          resource: "#/components/schemas/ResourceObjectContent"
      oneOf:
      - $ref: "#/components/schemas/BooleanAttributeContentV3"
      - $ref: "#/components/schemas/CodeBlockAttributeContentV3"
      - $ref: "#/components/schemas/DateAttributeContentV3"
      - $ref: "#/components/schemas/DateTimeAttributeContentV3"
      - $ref: "#/components/schemas/FileAttributeContentV3"
      - $ref: "#/components/schemas/FloatAttributeContentV3"
      - $ref: "#/components/schemas/IntegerAttributeContentV3"
      - $ref: "#/components/schemas/ObjectAttributeContentV3"
      - $ref: "#/components/schemas/StringAttributeContentV3"
      - $ref: "#/components/schemas/TextAttributeContentV3"
      - $ref: "#/components/schemas/TimeAttributeContentV3"
      - $ref: "#/components/schemas/ResourceObjectContent"
    BasicAuthSecretContent:
      type: object
      description: Secret representing Basic Authentication credentials
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        username:
          type: string
          description: Username for Basic Authentication
          example: admin
          minLength: 1
        password:
          type: string
          description: Password for Basic Authentication
          minLength: 1
      required:
      - password
      - type
      - username
      title: BasicAuthSecretContent
    BooleanAttributeContentV2:
      type: object
      description: Boolean attribute content to store true/false values
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: boolean
          description: Boolean attribute value
      required:
      - data
    BooleanAttributeContentV3:
      type: object
      description: Boolean attribute content to store true/false values
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: boolean
          description: Boolean attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Boolean attribute value
      required:
      - contentType
      - data
    CertificateType:
      type: string
      enum:
      - X.509
      - SSH
    CodeBlockAttributeContentData:
      type: object
      properties:
        language:
          $ref: "#/components/schemas/ProgrammingLanguageEnum"
          description: Definition of programming languages used for code
          examples:
          - "JAVA, PHP, C, etc"
        code:
          type: string
          description: Block of the code in Base64. Formatting of the code is specified
            by variable language
      required:
      - code
      - language
    CodeBlockAttributeContentV2:
      type: object
      description: Codeblock attribute content to store encoded snippets of programming
        language code
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/CodeBlockAttributeContentData"
          description: CodeBlock attribute content data
      required:
      - data
    CodeBlockAttributeContentV3:
      type: object
      description: Codeblock attribute content to store encoded snippets of programming
        language code
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/CodeBlockAttributeContentData"
          description: CodeBlock attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    CredentialAttributeContentData:
      type: object
      properties:
        uuid:
          type: string
          description: Object identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Object Name
          examples:
          - Name
        kind:
          type: string
          description: Credential Kind
          examples:
          - "SoftKeyStore, Basic, ApiKey, etc"
        attributes:
          type: array
          description: List of Credential Attributes
          items:
            $ref: "#/components/schemas/DataAttributeV2"
      required:
      - attributes
      - kind
      - name
      - uuid
    CredentialAttributeContentV2:
      type: object
      description: Credential attribute content carrying information about credential
        to use
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/CredentialAttributeContentData"
          description: Credential attribute content data
      required:
      - data
    DataAttributeProperties:
      type: object
      properties:
        label:
          type: string
          description: Friendly name of the the Attribute
          examples:
          - Attribute Name
        visible:
          type: boolean
          default: true
          description: "Boolean determining if the Attribute is visible and can be\
            \ displayed, otherwise it should be hidden to the user."
        group:
          type: string
          description: "Group of the Attribute, used for the logical grouping of the\
            \ Attribute"
          examples:
          - requiredAttributes
        required:
          type: boolean
          default: false
          description: "Boolean determining if the Attribute is required. If true,\
            \ the Attribute must be provided."
        readOnly:
          type: boolean
          default: false
          description: "Boolean determining if the Attribute is read only. If true,\
            \ the Attribute content cannot be changed."
        list:
          type: boolean
          default: false
          description: Boolean determining if the Attribute contains list of values
            in the content
        multiSelect:
          type: boolean
          default: false
          description: Boolean determining if the Attribute can have multiple values
        protectionLevel:
          $ref: "#/components/schemas/ProtectionLevel"
          default: none
          description: Protection level of the attribute content
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: "Resource of the attribute, relevant if the attribute has Resource\
            \ content type"
        extensibleList:
          type: boolean
          default: false
          description: Boolean determining if a list Attribute can have values other
            than predefined options
      required:
      - extensibleList
      - label
      - list
      - multiSelect
      - readOnly
      - required
      - visible
    DataAttributeV2:
      type: object
      description: Data attribute allows to store and transfer dynamic data. Its content
        can be edited and send in requests to store.
      properties:
        uuid:
          type: string
          description: UUID of the Attribute for unique identification
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute that is used for identification
          examples:
          - Attribute
        description:
          type: string
          description: "Optional description of the Attribute, should contain helper\
            \ text on what is expected"
        version:
          type: integer
          format: int32
          description: Version of the attribute
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        content:
          type: array
          description: Content of the Attribute
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Type of the Content
        properties:
          $ref: "#/components/schemas/DataAttributeProperties"
          description: Properties of the Attributes
        constraints:
          type: array
          description: Optional constraints used for validating the Attribute content
          items:
            $ref: "#/components/schemas/BaseAttributeConstraint"
        attributeCallback:
          $ref: "#/components/schemas/AttributeCallback"
          description: Optional definition of callback for getting the content of
            the Attribute based on the action
      required:
      - contentType
      - name
      - properties
      - type
      - uuid
      - version
    DateAttributeContentV2:
      type: object
      description: Date attribute content in predefined format
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          format: date
          description: Date attribute value in format yyyy-MM-dd
      required:
      - data
    DateAttributeContentV3:
      type: object
      description: Date attribute content in predefined format
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          format: date
          description: Date attribute value in format yyyy-MM-dd
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    DateTimeAttributeConstraint:
      type: object
      description: DateTime attribute constraint to specify boundaries for date value
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          $ref: "#/components/schemas/DateTimeAttributeConstraintData"
          description: DateTime Range Attribute Constraint Data
      required:
      - type
    DateTimeAttributeConstraintData:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: Start of the datetime for validation
        to:
          type: string
          format: date-time
          description: End of the datetime for validation
    DateTimeAttributeContentV2:
      type: object
      description: DateTime attribute content in predefined format with timezone
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          format: date-time
          description: DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX
      required:
      - data
    DateTimeAttributeContentV3:
      type: object
      description: DateTime attribute content in predefined format with timezone
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          format: date-time
          description: DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    DiscoveryStreamRequestDto:
      type: object
      properties:
        runId:
          type: string
          format: uuid
          description: Discovery run identifier assigned by Core when the run was
            created
        meta:
          type: array
          description: "Connector-defined metadata returned in the original discovery\
            \ initiate/stop/resume response, replayed here so the stateless connector\
            \ can resolve its run state; absent on the initiate call itself, which\
            \ is the call that mints it. Serialized size is capped at 64 KB."
          items:
            $ref: "#/components/schemas/MetadataAttribute"
        attributes:
          type: array
          description: "Run-level attributes supplied when the discovery run was initiated;\
            \ optional, since a connector may define no run-level attributes at all."
          items:
            $ref: "#/components/schemas/RequestAttribute"
        resourceAttributes:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/RequestAttribute"
          description: "Per-resource attributes, keyed by resource code (e.g. \"certificates\"\
            , \"keys\"); optional, since a connector may define none."
          propertyNames:
            $ref: "#/components/schemas/Resource"
        afterSequence:
          type: integer
          format: int64
          default: 0
          description: "Cursor: stream items with sequence greater than this value.\
            \ Item sequences are dense per run, so 0 requests items from the start\
            \ of the run."
          minimum: 0
      required:
      - runId
    FileAttributeContentData:
      type: object
      properties:
        content:
          type: string
          description: File content
        fileName:
          type: string
          description: Name of the file
        mimeType:
          type: string
          description: Type of the file uploaded
      required:
      - content
      - fileName
      - mimeType
    FileAttributeContentV2:
      type: object
      description: File attribute content for storing encoded file content with additional
        info
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/FileAttributeContentData"
          description: File attribute content data
      required:
      - data
    FileAttributeContentV3:
      type: object
      description: File attribute content for storing encoded file content with additional
        info
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/FileAttributeContentData"
          description: File attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    FloatAttributeContentV2:
      type: object
      description: Float attribute content for decimal numbers
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: number
          format: float
          description: Float attribute value
      required:
      - data
    FloatAttributeContentV3:
      type: object
      description: Float attribute content for decimal numbers
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: number
          format: float
          description: Float attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    GenericSecretContent:
      type: object
      description: Secret representing generic content represented as string
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: "Generic secret content represented as string. In case secret\
            \ content is binary data, it should be encoded as BASE64 string."
          minLength: 1
      required:
      - content
      - type
      title: GenericSecretContent
    IntegerAttributeContentV2:
      type: object
      description: Integer attribute content for integer numbers
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: integer
          format: int32
          description: Integer attribute value
      required:
      - data
    IntegerAttributeContentV3:
      type: object
      description: Integer attribute content for integer numbers
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: integer
          format: int32
          description: Integer attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    JsonSchemaAttributeConstraint:
      type: object
      description: JSON Schema attribute constraint restricting a string value to
        JSON conforming to an inline JSON Schema (draft 2020-12)
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          type: string
          description: Inline JSON Schema document the value must conform to
          minLength: 1
      required:
      - data
      - type
    JwtTokenSecretContent:
      type: object
      description: Secret representing JWT Token
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: "JWT Token content in compact (dot-separated) format specified\
            \ in [RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-3)"
          example: eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk
          minLength: 1
      required:
      - content
      - type
      title: JwtTokenSecretContent
    KeyStoreSecretContent:
      type: object
      description: Secret representing Key Store
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        keyStoreType:
          $ref: "#/components/schemas/KeyStoreType"
          description: Key Store type
        content:
          type: string
          description: BASE64 encoded content of key store
          minLength: 1
        password:
          type: string
          description: Password for key store
      required:
      - content
      - keyStoreType
      - password
      - type
      title: KeyStoreSecretContent
    KeyStoreType:
      type: string
      enum:
      - JKS
      - PKCS12
    KeyValueSecretContent:
      type: object
      description: Secret representing key-value pairs
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: object
          additionalProperties: {}
          description: "Key-Value pairs stored as the secret content, represented\
            \ by JSON object"
      required:
      - content
      - type
      title: KeyValueSecretContent
    MetadataAttribute:
      description: Metadata Attribute definition
      oneOf:
      - $ref: "#/components/schemas/MetadataAttributeV2"
      - $ref: "#/components/schemas/MetadataAttributeV3"
    MetadataAttributeProperties:
      type: object
      properties:
        label:
          type: string
          description: Friendly name of the the Attribute
          examples:
          - Attribute Name
        visible:
          type: boolean
          default: true
          description: "Boolean determining if the Attribute is visible and can be\
            \ displayed, otherwise it should be hidden to the user."
        group:
          type: string
          description: "Group of the Attribute, used for the logical grouping of the\
            \ Attribute"
          examples:
          - requiredAttributes
        global:
          type: boolean
          default: false
          description: Boolean determining if the Metadata is a global metadata.
        overwrite:
          type: boolean
          default: false
          description: Boolean determining if the new metadata content should overwrite
            (replace) existing content instead of appending.
        protectionLevel:
          $ref: "#/components/schemas/ProtectionLevel"
          default: none
          description: Protection level of the attribute content
      required:
      - label
      - visible
    MetadataAttributeV2:
      type: object
      description: Info attribute contains content that is for metadata. Its content
        can not be edited and is not send in requests to store.
      properties:
        uuid:
          type: string
          description: UUID of the Attribute for unique identification
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute that is used for identification
          examples:
          - Attribute
        description:
          type: string
          description: "Optional description of the Attribute, should contain helper\
            \ text on what is expected"
        version:
          type: integer
          format: int32
          description: Version of the attribute
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        content:
          type: array
          description: Content of the Attribute
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Type of the Content
        properties:
          $ref: "#/components/schemas/MetadataAttributeProperties"
          description: Properties of the Attributes
      required:
      - contentType
      - name
      - properties
      - type
      - uuid
      - version
    MetadataAttributeV3:
      type: object
      description: Info attribute contains content that is for metadata. Its content
        can not be edited and is not send in requests to store.
      properties:
        uuid:
          type: string
          description: UUID of the Attribute for unique identification
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute that is used for identification
          examples:
          - Attribute
        description:
          type: string
          description: "Optional description of the Attribute, should contain helper\
            \ text on what is expected"
        version:
          type: integer
          format: int32
          description: Version of the attribute
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        content:
          type: array
          description: Content of the Attribute
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV3"
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Type of the Content
        properties:
          $ref: "#/components/schemas/MetadataAttributeProperties"
          description: Properties of the Attributes
        schemaVersion:
          $ref: "#/components/schemas/AttributeVersion"
          description: Schema version of the Attribute
      required:
      - contentType
      - name
      - properties
      - schemaVersion
      - type
      - uuid
      - version
    ObjectAttributeContentV2:
      type: object
      description: Object attribute content for data with custom structure
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          description: Object attribute content data
      required:
      - data
    ObjectAttributeContentV3:
      type: object
      description: Object attribute content for data with custom structure
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          description: Object attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    PrivateKeySecretContent:
      type: object
      description: Secret representing private key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: BASE64 encoded content of key in PEM format
          minLength: 1
      required:
      - content
      - type
      title: PrivateKeySecretContent
    ProgrammingLanguageEnum:
      type: string
      enum:
      - apacheconf
      - bash
      - basic
      - c
      - csharp
      - cpp
      - css
      - docker
      - fsharp
      - gherkin
      - git
      - go
      - graphql
      - html
      - http
      - ini
      - java
      - javascript
      - json
      - kotlin
      - latex
      - lisp
      - makefile
      - markdown
      - matlab
      - nginx
      - objectivec
      - perl
      - php
      - powershell
      - properties
      - python
      - ruby
      - rust
      - smalltalk
      - sql
      - typescript
      - vbnet
      - xquery
      - xml
      - yaml
    ProtectionLevel:
      type: string
      enum:
      - none
      - encrypted
    RangeAttributeConstraint:
      type: object
      description: Range attribute constraint to specify boundaries for integer value
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          $ref: "#/components/schemas/RangeAttributeConstraintData"
          description: Integer Range Attribute Constraint Data
      required:
      - type
    RangeAttributeConstraintData:
      type: object
      properties:
        from:
          type: integer
          format: int32
          description: Start of the range for validation
        to:
          type: integer
          format: int32
          description: End of the range for validation
    RegexpAttributeConstraint:
      type: object
      description: RegExp attribute constraint to restrict string value by regular
        expression
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          type: string
          description: Regular Expression Attribute Constraint Data
      required:
      - type
    RequestAttribute:
      type: object
      description: Request attribute to send attribute content for object
      discriminator:
        propertyName: version
        mapping:
          v2: "#/components/schemas/RequestAttributeV2"
          v3: "#/components/schemas/RequestAttributeV3"
      oneOf:
      - $ref: "#/components/schemas/RequestAttributeV3"
      - $ref: "#/components/schemas/RequestAttributeV2"
      required:
      - contentType
      - name
      - uuid
      - version
    RequestAttributeV2:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - name
      - uuid
      - version
    RequestAttributeV3:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV3"
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - name
      - uuid
      - version
    Resource:
      type: string
      enum:
      - NONE
      - ANY
      - dashboard
      - settings
      - auditLogs
      - credentials
      - connectors
      - attributes
      - jobs
      - proxies
      - users
      - roles
      - acmeAccounts
      - acmeProfiles
      - cboms
      - cryptoAssets
      - scepProfiles
      - cmpProfiles
      - authorities
      - raProfiles
      - certificates
      - certificateRequests
      - groups
      - complianceProfiles
      - discoveries
      - oids
      - entities
      - locations
      - tokenProfiles
      - tokens
      - keys
      - approvalProfiles
      - approvals
      - comments
      - notificationProfiles
      - notificationInstances
      - rules
      - actions
      - triggers
      - resources
      - resourceEvents
      - searchFilters
      - listViews
      - keyItems
      - platformEnums
      - notifications
      - conditions
      - executions
      - complianceRules
      - complianceGroups
      - customAttributes
      - globalMetadata
      - acmeOrders
      - acmeAuthorizations
      - acmeChallenges
      - cmpTransactions
      - endEntityProfiles
      - authenticationProviders
      - trustedCertificates
      - vaults
      - vaultProfiles
      - secrets
      - signingProfiles
      - signingRecords
      - timeQualityConfigurations
      - tspProfiles
      - tspProfileBasicCredentials
    ResourceCertificateContentData:
      type: object
      description: Content data for resource object attribute containing certificate
        content
      properties:
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        certificateType:
          $ref: "#/components/schemas/CertificateType"
          description: Certificate type
        content:
          type: string
          description: Base64 encoded content of the certificate
      required:
      - name
      - resource
      - uuid
      title: ResourceCertificateContentData
    ResourceObjectContent:
      type: object
      description: Resource object attribute content carrying resource object data
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/ResourceObjectContentData"
          description: Resource Object content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    ResourceObjectContentData:
      type: object
      discriminator:
        propertyName: resource
        mapping:
          authorities: "#/components/schemas/ResourceSimpleContentData"
          entities: "#/components/schemas/ResourceSimpleContentData"
          locations: "#/components/schemas/ResourceSimpleContentData"
          credentials: "#/components/schemas/ResourceSimpleContentData"
          certificates: "#/components/schemas/ResourceCertificateContentData"
          secrets: "#/components/schemas/ResourceSecretContentData"
      oneOf:
      - $ref: "#/components/schemas/ResourceSimpleContentData"
      - $ref: "#/components/schemas/ResourceCertificateContentData"
      - $ref: "#/components/schemas/ResourceSecretContentData"
      required:
      - name
      - resource
      - uuid
    ResourceSecretContentData:
      type: object
      description: Content data for resource object attribute containing secret content
      properties:
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        content:
          $ref: "#/components/schemas/SecretContent"
          description: Secret content of the resource object
      required:
      - name
      - resource
      - uuid
      title: ResourceSecretContentData
    ResourceSimpleContentData:
      type: object
      description: Content data for resource object defined by its attributes
      properties:
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        attributes:
          type: array
          description: Attributes of the resource object
          items:
            $ref: "#/components/schemas/ResponseAttribute"
      required:
      - name
      - resource
      - uuid
      title: ResourceSimpleContentData
    ResponseAttribute:
      type: object
      description: Response attribute to send attribute content for object
      discriminator:
        propertyName: version
        mapping:
          v2: "#/components/schemas/ResponseAttributeV2"
          v3: "#/components/schemas/ResponseAttributeV3"
      oneOf:
      - $ref: "#/components/schemas/ResponseAttributeV2"
      - $ref: "#/components/schemas/ResponseAttributeV3"
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    ResponseAttributeV2:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        label:
          type: string
          description: Label of the the Attribute
          examples:
          - Attribute Name
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    ResponseAttributeV3:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV3"
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        label:
          type: string
          description: Label of the the Attribute
          examples:
          - Attribute Name
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    SecretAttributeContentData:
      type: object
      properties:
        secret:
          type: string
          description: Secret attribute data
        protectionLevel:
          $ref: "#/components/schemas/ProtectionLevel"
          description: Level of protection of the data
    SecretAttributeContentV2:
      type: object
      description: Secret attribute content carrying secrets with defined protection
        level
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/SecretAttributeContentData"
          description: Secret attribute content data
      required:
      - data
    SecretContent:
      type: object
      description: Secret content dependent on secret type
      discriminator:
        propertyName: type
        mapping:
          basicAuth: "#/components/schemas/BasicAuthSecretContent"
          apiKey: "#/components/schemas/ApiKeySecretContent"
          jwtToken: "#/components/schemas/JwtTokenSecretContent"
          privateKey: "#/components/schemas/PrivateKeySecretContent"
          secretKey: "#/components/schemas/SecretKeySecretContent"
          keyStore: "#/components/schemas/KeyStoreSecretContent"
          keyValue: "#/components/schemas/KeyValueSecretContent"
          generic: "#/components/schemas/GenericSecretContent"
      oneOf:
      - $ref: "#/components/schemas/BasicAuthSecretContent"
      - $ref: "#/components/schemas/ApiKeySecretContent"
      - $ref: "#/components/schemas/JwtTokenSecretContent"
      - $ref: "#/components/schemas/PrivateKeySecretContent"
      - $ref: "#/components/schemas/SecretKeySecretContent"
      - $ref: "#/components/schemas/KeyStoreSecretContent"
      - $ref: "#/components/schemas/KeyValueSecretContent"
      - $ref: "#/components/schemas/GenericSecretContent"
      required:
      - type
    SecretKeySecretContent:
      type: object
      description: Secret representing secret key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: BASE64 encoded binary (raw) content of key
          minLength: 1
      required:
      - content
      - type
      title: SecretKeySecretContent
    SecretType:
      type: string
      enum:
      - basicAuth
      - apiKey
      - jwtToken
      - privateKey
      - secretKey
      - keyStore
      - keyValue
      - generic
    StringAttributeContentV2:
      type: object
      description: String attribute content
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: String attribute value
      required:
      - data
    StringAttributeContentV3:
      type: object
      description: String attribute content
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: String attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    TextAttributeContentV2:
      type: object
      description: Text attribute content used to store longer formatted strings
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: Text attribute value
      required:
      - data
    TextAttributeContentV3:
      type: object
      description: Text attribute content used to store longer formatted strings
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: Text attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    TimeAttributeContentV2:
      type: object
      description: Time attribute content in predefined format
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: Time attribute value in format HH:mm:ss
      required:
      - data
    TimeAttributeContentV3:
      type: object
      description: Time attribute content in predefined format
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: Time attribute value in format HH:mm:ss
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    DiscoveredCertificateDto:
      type: object
      properties:
        resource:
          $ref: "#/components/schemas/Resource"
        certificateData:
          type: string
          description: Base64-encoded certificate data (DER)
          minLength: 1
      required:
      - certificateData
      - resource
    DiscoveredItemDto:
      type: object
      properties:
        sequence:
          type: integer
          format: int64
          description: "Dense per-run item sequence (1, 2, 3, ... with no holes);\
            \ the drain/stream cursor value after which the next batch starts"
          minimum: 1
        uniqueRef:
          type: string
          description: Connector-side natural key that Core uses to dedupe this item
            across drains and retries
          minLength: 1
        payload:
          $ref: "#/components/schemas/DiscoveredItemPayload"
          description: Resource-specific payload; its concrete type is selected by
            resource
        meta:
          type: array
          description: "Item metadata (platform convention). Where an item was found\
            \ (e.g. IP and port, file path, HSM slot) belongs here as typed, labeled\
            \ entries, never in payload."
          items:
            $ref: "#/components/schemas/MetadataAttribute"
        discoveredAt:
          type: string
          format: date-time
          description: Timestamp at which the connector discovered this item
      required:
      - payload
      - sequence
      - uniqueRef
    DiscoveredItemPayload:
      type: object
      description: "Resource-specific payload of a discovered item. The required resource\
        \ property is the discriminator: it carries the resource's wire code and selects\
        \ which concrete payload shape this object is. Each concrete shape fixes it\
        \ to its own value."
      discriminator:
        propertyName: resource
        mapping:
          certificates: "#/components/schemas/DiscoveredCertificateDto"
          keys: "#/components/schemas/DiscoveredKeyDto"
      oneOf:
      - $ref: "#/components/schemas/DiscoveredCertificateDto"
      - $ref: "#/components/schemas/DiscoveredKeyDto"
      required:
      - resource
    DiscoveredKeyDto:
      type: object
      description: "A connector reports a key's existence, intrinsic metadata, and\
        \ at most its public part; private, secret and split key material must never\
        \ be sent. A PRIVATE_KEY, SECRET_KEY or SPLIT_KEY report MUST omit publicKey\
        \ and publicKeyFormat entirely."
      properties:
        resource:
          $ref: "#/components/schemas/Resource"
        type:
          $ref: "#/components/schemas/KeyType"
          description: "Key type: whether this is a public, private, secret, or split\
            \ key"
        algorithm:
          $ref: "#/components/schemas/KeyAlgorithm"
          description: Cryptographic algorithm of the key
        length:
          type: integer
          format: int32
          description: Key length in bits
        fingerprint:
          type: string
          description: "Intrinsic key fingerprint; correlates the same key across\
            \ runs, connectors, and certificates without exposing key material"
        publicKeyFormat:
          $ref: "#/components/schemas/KeyFormat"
          description: Format of publicKey when present (typically SubjectPublicKeyInfo);
            absent when publicKey is absent
        publicKey:
          type: string
          description: "Base64-encoded public key material. Absent for PRIVATE_KEY,\
            \ SECRET_KEY or SPLIT_KEY discoveries, where only existence and intrinsic\
            \ metadata are ever reported"
      required:
      - algorithm
      - resource
      - type
    DiscoveryErrorEvent:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/DiscoveryEventType"
        code:
          type: string
          description: Connector-defined error code
          maxLength: 64
          minLength: 0
        message:
          type: string
          description: Human-readable error message — curated message text (no raw
            exception messages)
      required:
      - code
      - message
      - type
    DiscoveryEvent:
      type: object
      description: One flat discovery stream/AMQP event; type selects the concrete
        shape.
      discriminator:
        propertyName: type
        mapping:
          progress: "#/components/schemas/DiscoveryProgressEvent"
          resultBatch: "#/components/schemas/DiscoveryResultBatchEvent"
          stateChanged: "#/components/schemas/DiscoveryStateChangedEvent"
          heartbeat: "#/components/schemas/DiscoveryHeartbeatEvent"
          error: "#/components/schemas/DiscoveryErrorEvent"
      oneOf:
      - $ref: "#/components/schemas/DiscoveryProgressEvent"
      - $ref: "#/components/schemas/DiscoveryResultBatchEvent"
      - $ref: "#/components/schemas/DiscoveryStateChangedEvent"
      - $ref: "#/components/schemas/DiscoveryHeartbeatEvent"
      - $ref: "#/components/schemas/DiscoveryErrorEvent"
      required:
      - type
    DiscoveryEventType:
      type: string
      enum:
      - progress
      - resultBatch
      - stateChanged
      - heartbeat
      - error
    DiscoveryHeartbeatEvent:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/DiscoveryEventType"
        sentAt:
          type: string
          format: date-time
          description: Timestamp at which the connector sent this heartbeat
      required:
      - sentAt
      - type
    DiscoveryProgressEvent:
      type: object
      properties:
        processed:
          type: integer
          format: int64
          description: Number of items processed so far; omitted when the connector
            cannot report it
        totalEstimate:
          type: integer
          format: int64
          description: Estimated total number of items for the run; omitted when the
            connector cannot produce an estimate
        phase:
          type: string
          description: "Connector-defined free-text phase label (e.g. \"scanning\"\
            , \"enumerating\"); omitted when the connector has no phase concept"
        byResource:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/DiscoveryResourceProgressDto"
          propertyNames:
            $ref: "#/components/schemas/Resource"
        type:
          $ref: "#/components/schemas/DiscoveryEventType"
      required:
      - type
    DiscoveryResourceProgressDto:
      type: object
      description: "Progress counters. Used for a whole run and, keyed by resource\
        \ code inside byResource (e.g. \"certificates\", \"keys\"), for one resource\
        \ type at a time. Every field is optional."
      properties:
        processed:
          type: integer
          format: int64
          description: Number of items processed so far; omitted when the connector
            cannot report it
        totalEstimate:
          type: integer
          format: int64
          description: Estimated total number of items for the run; omitted when the
            connector cannot produce an estimate
        phase:
          type: string
          description: "Connector-defined free-text phase label (e.g. \"scanning\"\
            , \"enumerating\"); omitted when the connector has no phase concept"
    DiscoveryResultBatchEvent:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/DiscoveryEventType"
        items:
          type: array
          description: "Discovered items in this batch, each carrying its own per-run\
            \ sequence. A producer that means \"this batch has no items\" MUST send\
            \ an explicit empty array; omitting the field is rejected rather than\
            \ read as \"no discoveries\"."
          items:
            $ref: "#/components/schemas/DiscoveredItemDto"
      required:
      - items
      - type
    DiscoveryRunState:
      type: string
      enum:
      - running
      - stopped
      - completed
      - failed
      - cancelled
    DiscoveryStateChangedEvent:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/DiscoveryEventType"
        state:
          $ref: "#/components/schemas/DiscoveryRunState"
          description: "Run state the connector is reporting; advisory, not authoritative"
      required:
      - state
      - type
    KeyAlgorithm:
      type: string
      enum:
      - RSA
      - ECDSA
      - FALCON
      - ML-DSA
      - SLH-DSA
      - ML-KEM
      - CRYSTALS-Dilithium
      - SPHINCS+
      - Unknown
    KeyFormat:
      type: string
      enum:
      - Raw
      - SubjectPublicKeyInfo
      - PrivateKeyInfo
      - EncryptedPrivateKeyInfo
      - Custom
    KeyType:
      type: string
      enum:
      - Secret
      - Public
      - Private
      - Split
    ErrorCode:
      type: string
      enum:
      - VALIDATION_FAILED
      - RESOURCE_NOT_FOUND
      - RESOURCE_ALREADY_EXISTS
      - REQUEST_TIMEOUT
      - OPERATION_NOT_SUPPORTED
      - ATTRIBUTES_ERROR
      - SERVICE_UNAVAILABLE
      - INTERNAL_SERVER_ERROR
      - BAD_REQUEST
      - UNAUTHORIZED
      - FORBIDDEN
      - RATE_LIMIT_EXCEEDED
      - GATEWAY_TIMEOUT
      - UPSTREAM_ERROR
      - CREDENTIAL_INVALID
      - POLICY_VIOLATION
      - OPERATION_PAST_POINT_OF_NO_RETURN
      - OPERATION_NOT_TRACKED
      - ATTRIBUTE_DEFINITION_NOT_FOUND
      - DOCUMENT_MALFORMED
      - DOCUMENT_TOO_LARGE
      - SIGNATURE_NOT_FOUND
      - PARAMETER_UNSUPPORTED
      - CONTEXT_MISMATCH
      - CSR_MALFORMED
      - REVOCATION_NOT_ALLOWED
      - REGISTRATION_NOT_FOUND
      - RENEWAL_SOURCE_NOT_FOUND
      - CSR_SUBJECT_MISMATCH
      - CERTIFICATE_MISMATCH
      - CHECKPOINT_LOST
      - KEY_TYPE_NOT_IMPORTABLE
      - KEY_TYPE_NOT_EXPORTABLE
      - KEY_MATERIAL_MISMATCH
      - KEY_DECRYPTION_FAILED
      - EXPORTABLE_NOT_SUPPORTED
      - KEY_NOT_EXPORTABLE
    ProblemDetailExtended:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: RFC 9457 type URI identifying the problem type
          example: https://docs.otilm.com/problems/common/validation-failed
        title:
          type:
          - string
          - "null"
          description: Short human-readable summary of the problem type
          example: Validation failed
        status:
          type: integer
          format: int32
          description: HTTP status code (MUST match the actual response code)
          example: 422
          maximum: 599
          minimum: 100
        detail:
          type:
          - string
          - "null"
          description: Human-readable explanation specific to this occurrence
          example: One or more fields failed validation.
        instance:
          type:
          - string
          - "null"
          format: uri
          description: "URI reference identifying the occurrence (e.g., request path\
            \ or operation ID)."
          example: https://api.example.org/foo/bar/123
        properties:
          type:
          - object
          - "null"
          additionalProperties: {}
          description: Generic map of properties that are not known ahead of time
        errorCode:
          $ref: "#/components/schemas/ErrorCode"
          description: Application specific error code
        timestamp:
          type: string
          format: date-time
          description: Timestamp of when the error occurred (RFC 3339 format)
          examples:
          - 2026-01-22T15:10:20.123Z
          - 2026-01-22T15:10:20.123+02:00
        correlationId:
          type: string
          description: Correlation ID for tracking the request. Trace value from X-Request-Id
            or W3C Trace Context.
        retryable:
          type: boolean
          description: Indicates if the operation that caused the error can be retried
            safely
        retryAfterSeconds:
          type: integer
          format: int32
          description: "Backoff hint, number of seconds after which the client can\
            \ retry the operation. Aligns with Retry-After header."
      required:
      - errorCode
      - retryable
      - status
      - timestamp
      - type
    DiscoveryRunRequestDto:
      type: object
      properties:
        runId:
          type: string
          format: uuid
          description: Discovery run identifier assigned by Core when the run was
            created
        meta:
          type: array
          description: "Connector-defined metadata returned in the original discovery\
            \ initiate/stop/resume response, replayed here so the stateless connector\
            \ can resolve its run state; absent on the initiate call itself, which\
            \ is the call that mints it. Serialized size is capped at 64 KB."
          items:
            $ref: "#/components/schemas/MetadataAttribute"
        attributes:
          type: array
          description: "Run-level attributes supplied when the discovery run was initiated;\
            \ optional, since a connector may define no run-level attributes at all."
          items:
            $ref: "#/components/schemas/RequestAttribute"
        resourceAttributes:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/RequestAttribute"
          description: "Per-resource attributes, keyed by resource code (e.g. \"certificates\"\
            , \"keys\"); optional, since a connector may define none."
          propertyNames:
            $ref: "#/components/schemas/Resource"
      required:
      - runId
    DiscoveryStopResponseDto:
      type: object
      properties:
        meta:
          type: array
          description: "Connector-defined metadata for this run, replayed by Core\
            \ on every subsequent lifecycle call — status, results, stream, stop,\
            \ resume and cancel — so the stateless connector can resolve its run state.\
            \ Serialized size is capped at 64 KB; Core fails the run outright if this\
            \ exceeds the cap."
          items:
            $ref: "#/components/schemas/MetadataAttribute"
    DiscoveryProgressDto:
      type: object
      description: "Run-level progress of a discovery run: the run-wide counters,\
        \ plus an optional per-resource breakdown."
      properties:
        processed:
          type: integer
          format: int64
          description: Number of items processed so far; omitted when the connector
            cannot report it
        totalEstimate:
          type: integer
          format: int64
          description: Estimated total number of items for the run; omitted when the
            connector cannot produce an estimate
        phase:
          type: string
          description: "Connector-defined free-text phase label (e.g. \"scanning\"\
            , \"enumerating\"); omitted when the connector has no phase concept"
        byResource:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/DiscoveryResourceProgressDto"
          propertyNames:
            $ref: "#/components/schemas/Resource"
    DiscoveryStatusResponseDto:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/DiscoveryRunState"
          description: Current state of the discovery run
        progress:
          $ref: "#/components/schemas/DiscoveryProgressDto"
        highestSequence:
          type: integer
          format: int64
          description: "Run-wide highest item sequence assigned so far — never page-scoped.\
[...]
