openapi: 3.1.0
info:
  title: Signing Profile API
  description: REST API for managing Signing Profiles in the platform
  contact:
    name: ILM
    url: https://www.otilm.com
    email: ilm@omnitrust.com
  license:
    name: "Apache License, Version 2.0"
    url: https://github.com/OmniTrustILM/interface-documentation/blob/main/LICENSE.md
  version: 2.20.0-SNAPSHOT
  x-logo:
    url: images/ilm-logo.svg
externalDocs:
  description: ILM Documentation
  url: https://docs.otilm.com
servers:
- url: https://demo.otilm.com/api
  description: ILM Demo server
tags:
- name: Signing Profile Management
  description: Signing Profile Management API
paths:
  /v1/signingProfiles/{uuid}:
    get:
      tags:
      - Signing Profile Management
      summary: "Details of a Signing Profile. If no specific version is provided,\
        \ the latest version will be returned."
      operationId: getSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: version
        in: query
        description: Specific version of the Signing Profile
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Signing Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningProfileDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
    put:
      tags:
      - Signing Profile Management
      summary: Update Signing Profile
      description: |-
        Request to update an existing Signing Profile.
        If there are existing Signing Records produced using this Signing Profile, creates a new version of Signing Profile.
        Otherwise updates the latest version in-place.
      operationId: updateSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SigningProfileRequestDto"
        required: true
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Signing Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningProfileDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
    delete:
      tags:
      - Signing Profile Management
      summary: Delete Signing Profile
      operationId: deleteSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Signing Profile deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles:
    post:
      tags:
      - Signing Profile Management
      summary: Add new Signing Profile
      operationId: createSigningProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SigningProfileRequestDto"
        required: true
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "201":
          description: New Signing Profile added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningProfileDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
    delete:
      tags:
      - Signing Profile Management
      summary: Delete multiple Signing Profiles
      operationId: bulkDeleteSigningProfiles
      requestBody:
        description: Signing Profile UUIDs
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - c2f685d4-6a3e-11ec-90d6-0242ac120003
            - b9b09548-a97c-4c6a-a06a-e4ee6fc2da98
        required: true
      responses:
        "200":
          description: Signing Profiles deleted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BulkActionMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{uuid}/signingRecords:
    post:
      tags:
      - Signing Profile Management
      summary: List Signing Records produced under a Signing Profile
      description: "Returns a paginated, filterable list of all Signing Records that\
        \ were produced using this Signing Profile. Supports the same search and pagination\
        \ parameters as the top-level Signing Records listing."
      operationId: listSigningRecordsForSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequestDto"
        required: true
      responses:
        "200":
          description: Signing Records retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginationResponseDtoSigningRecordListDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/list:
    post:
      tags:
      - Signing Profile Management
      summary: List of available Signing Profiles
      operationId: listSigningProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequestDto"
        required: true
      responses:
        "200":
          description: Signing Profiles retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginationResponseDtoSigningProfileListDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{uuid}/protocols/tsp/deactivate:
    patch:
      tags:
      - Signing Profile Management
      summary: Deactivate TSP for Signing Profile
      operationId: deactivateTsp
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: TSP deactivated
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{uuid}/enable:
    patch:
      tags:
      - Signing Profile Management
      summary: Enable Signing Profile
      operationId: enableSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Signing Profile enabled
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{uuid}/disable:
    patch:
      tags:
      - Signing Profile Management
      summary: Disable Signing Profile
      operationId: disableSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Signing Profile disabled
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{signingProfileUuid}/protocols/tsp/activate/{tspProfileUuid}:
    patch:
      tags:
      - Signing Profile Management
      summary: Activate TSP for Signing Profile
      operationId: activateTsp
      parameters:
      - name: signingProfileUuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: tspProfileUuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: TSP activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspActivationDetailDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/enable:
    patch:
      tags:
      - Signing Profile Management
      summary: Enable multiple Signing Profiles
      operationId: bulkEnableSigningProfiles
      requestBody:
        description: Signing Profile UUIDs
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - c2f685d4-6a3e-11ec-90d6-0242ac120003
            - b9b09548-a97c-4c6a-a06a-e4ee6fc2da98
        required: true
      responses:
        "200":
          description: Signing Profiles enabled
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BulkActionMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/disable:
    patch:
      tags:
      - Signing Profile Management
      summary: Disable multiple Signing Profiles
      operationId: bulkDisableSigningProfiles
      requestBody:
        description: Signing Profile UUIDs
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - c2f685d4-6a3e-11ec-90d6-0242ac120003
            - b9b09548-a97c-4c6a-a06a-e4ee6fc2da98
        required: true
      responses:
        "200":
          description: Signing Profiles disabled
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BulkActionMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/{uuid}/protocols/tsp:
    get:
      tags:
      - Signing Profile Management
      summary: Get the activation details of the Timestamping Protocol (TSP) for Signing
        Profile
      operationId: getTspActivationDetails
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: TSP details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspActivationDetailDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/supportedProtocols:
    get:
      tags:
      - Signing Profile Management
      summary: List signing protocols supported for a given workflow type
      operationId: listSupportedProtocols
      parameters:
      - name: signingWorkflowType
        in: query
        description: Signing workflow type code (e.g. 'timestamping')
        required: true
        schema:
          $ref: "#/components/schemas/SigningWorkflowType"
      responses:
        "200":
          description: Supported protocols retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SigningProtocol"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/signingCertificates:
    get:
      tags:
      - Signing Profile Management
      summary: Get list of certificates eligible to be used for digital signing
      operationId: listSigningCertificates
      parameters:
      - name: signingWorkflowType
        in: query
        description: Signing Workflow Type
        required: true
        schema:
          $ref: "#/components/schemas/SigningWorkflowType"
      - name: qualifiedTimestamp
        in: query
        description: "When true and signingWorkflowType is TIMESTAMPING, restricts\
          \ results to certificates that satisfy ETSI EN 319 421 qualified timestamp\
          \ requirements"
        required: false
        schema:
          type: boolean
          default: false
      - name: requireNonRepudiation
        in: query
        description: "When true and signingWorkflowType is CONTENT_SIGNING or RAW_SIGNING,\
          \ restricts results to certificates carrying the nonRepudiation key-usage\
          \ bit."
        required: false
        schema:
          type: boolean
          default: false
      - name: requiredExtendedKeyUsageOids
        in: query
        description: "When signingWorkflowType is CONTENT_SIGNING or RAW_SIGNING,\
          \ restricts results to certificates carrying all of these extended key usage\
          \ OIDs, in dot notation."
        required: false
        schema:
          type: array
          items:
            type: string
            example: 1.3.6.1.5.5.7.3.36
            pattern: "^([01]\\.(\\d|[1-3]\\d)|2\\.(0|[1-9]\\d*))(\\.(0|[1-9]\\d*)){0,49}$"
      responses:
        "200":
          description: List of certificates retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CertificateDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/signatureFormattingConnectors/{connectorUuid}/formattingAttributes:
    get:
      tags:
      - Signing Profile Management
      summary: Get formatting attribute descriptors from a Signature Formatting Provider
      description: Queries the Signature Formatting Provider for its available formatting
        attribute descriptors with connector default values. Serves the timestamping
        workflow only. Content-signing formatting attributes are declared per operation
        under the Content Signing Formatting contract and are not returned here. The
        signingProfileUuid parameter is used for authorization only and does not affect
        the returned descriptors.
      operationId: listSignatureFormattingConnectorAttributes
      parameters:
      - name: connectorUuid
        in: path
        description: Signature Formatting Provider UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: signingProfileUuid
        in: query
        description: Signing Profile UUID — used for authorization purposes only
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Formatting attribute descriptors retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseAttributeDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/signatureFormattingConnectors/{connectorUuid}/contentSigningFormattingAttributes:
    get:
      tags:
      - Signing Profile Management
      summary: Get content signing formatting attribute descriptors from a Signature
        Formatting Provider
      description: |-
        Returns the formatting attribute descriptors a content signing Signing Profile can reach,
        merged by name into one flat set carrying the connector's default values.
        family and maxLevel together name the workflow the Signing Profile will run, and the connector
        must be able to serve it; the descriptor set follows from maxLevel,
        so family does not narrow the returned descriptors.
        The signingProfileUuid parameter is used for authorization only and does not affect the
        returned descriptors.
      operationId: listContentSigningFormattingConnectorAttributes
      parameters:
      - name: connectorUuid
        in: path
        description: Signature Formatting Provider UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: family
        in: query
        description: Signature family the Signing Profile produces
        required: true
        schema:
          $ref: "#/components/schemas/SignatureFamily"
      - name: maxLevel
        in: query
        description: Highest signature level the Signing Profile may reach
        required: true
        schema:
          $ref: "#/components/schemas/SignatureLevel"
      - name: signingProfileUuid
        in: query
        description: Signing Profile UUID — used for authorization purposes only
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Formatting attribute descriptors retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseAttributeDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/search:
    get:
      tags:
      - Signing Profile Management
      summary: List search filters for Signing Profiles
      operationId: listSigningProfileSearchableFields
      responses:
        "200":
          description: List of search filters retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchFieldDataByGroupDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
  /v1/signingProfiles/certificates/{certificateUuid}/signatureAttributes:
    get:
      tags:
      - Signing Profile Management
      summary: Get signing operation attribute descriptors for a certificate
      description: "Returns the signing operation attribute descriptors (e.g. signature\
        \ scheme, digest algorithm) derived from the key algorithm of the given certificate.\
        \ Intended for use during Signing Profile creation to populate the signingOperationAttributes\
        \ field."
      operationId: listSignatureAttributesForCertificate
      parameters:
      - name: certificateUuid
        in: path
        description: Certificate UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Signature attribute descriptors retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BaseAttributeDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      security:
      - SessionAuth: []
      - CertificateAuth: []
      - BearerJWTAuth: []
components:
  schemas:
    ApiKeySecretContent:
      type: object
      description: Secret representing an API Key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: API Key content string
          minLength: 1
      required:
      - content
      - type
      title: ApiKeySecretContent
    AttributeCallback:
      type: object
      properties:
        callbackContext:
          type: string
          description: Context part of callback URL
        callbackMethod:
          type: string
          description: HTTP method of the callback. This value is required for connector
            callbacks and optional only for callbacks defined on resource objects.
        mappings:
          type: array
          description: Mappings for the callback method
          items:
            $ref: "#/components/schemas/AttributeCallbackMapping"
          uniqueItems: true
        dependsOn:
          type: array
          description: "Names of the attributes, within this same form, whose values\
            \ this Attributes v2 callback consumes and is triggered by. Providing\
            \ this field — even as an empty list — marks the callback as an Attributes\
            \ v2 callback; an empty list means the callback fires once when the form\
            \ opens (it depends on no other field). At most one of dependsOn or callbackContext\
            \ may be set; a callback with neither field set defines no callback. Not\
            \ allowed on RESOURCE attributes. These rules are enforced by the platform."
          items:
            type: string
      required:
      - mappings
    AttributeCallbackMapping:
      type: object
      properties:
        from:
          type: string
          description: Name of the attribute whose value is to be used as value of
            path variable or request param or body field.It is optional and must be
            set only if value is not set.
        attributeType:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the attribute. It is optional and must be set only
            if special behaviour is needed.
        attributeContentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: 'Type of the attribute content. '
        to:
          type: string
          description: Name of the path variable or request param or body field which
            is to be used to assign value of attribute
        targets:
          type: array
          description: Set of targets for propagating value.
          items:
            $ref: "#/components/schemas/AttributeValueTarget"
          uniqueItems: true
        value:
          description: Static value to be propagated to targets. It is optional and
            is set only if the value is known at attribute creation time.
      required:
      - targets
      - to
    AttributeConstraintType:
      type: string
      enum:
      - regExp
      - range
      - dateTime
      - jsonSchema
    AttributeContentType:
      type: string
      enum:
      - string
      - text
      - integer
      - boolean
      - float
      - date
      - time
      - datetime
      - secret
      - file
      - credential
      - codeblock
      - object
      - resource
    AttributeResource:
      type: string
      enum:
      - certificates
      - credentials
      - authorities
      - entities
      - locations
      - secrets
    AttributeType:
      type: string
      enum:
      - data
      - group
      - info
      - meta
      - custom
    AttributeValueTarget:
      type: string
      enum:
      - pathVariable
      - requestParameter
      - body
      - filter
    AttributeVersion:
      type: string
      enum:
      - v2
      - v3
    BaseAttributeConstraint:
      type: object
      description: Base Attribute Constraint definition
      discriminator:
        propertyName: type
        mapping:
          regExp: "#/components/schemas/RegexpAttributeConstraint"
          range: "#/components/schemas/RangeAttributeConstraint"
          dateTime: "#/components/schemas/DateTimeAttributeConstraint"
          jsonSchema: "#/components/schemas/JsonSchemaAttributeConstraint"
      oneOf:
      - $ref: "#/components/schemas/RegexpAttributeConstraint"
      - $ref: "#/components/schemas/RangeAttributeConstraint"
      - $ref: "#/components/schemas/DateTimeAttributeConstraint"
      - $ref: "#/components/schemas/JsonSchemaAttributeConstraint"
      properties:
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        description:
          type: string
          description: Description of the constraint
      required:
      - type
    BaseAttributeContentDtoV2:
      type: object
      description: Base Attribute ContentV2 definition
      oneOf:
      - $ref: "#/components/schemas/BooleanAttributeContentV2"
      - $ref: "#/components/schemas/CodeBlockAttributeContentV2"
      - $ref: "#/components/schemas/CredentialAttributeContentV2"
      - $ref: "#/components/schemas/DateAttributeContentV2"
      - $ref: "#/components/schemas/DateTimeAttributeContentV2"
      - $ref: "#/components/schemas/FileAttributeContentV2"
      - $ref: "#/components/schemas/FloatAttributeContentV2"
      - $ref: "#/components/schemas/IntegerAttributeContentV2"
      - $ref: "#/components/schemas/ObjectAttributeContentV2"
      - $ref: "#/components/schemas/SecretAttributeContentV2"
      - $ref: "#/components/schemas/StringAttributeContentV2"
      - $ref: "#/components/schemas/TextAttributeContentV2"
      - $ref: "#/components/schemas/TimeAttributeContentV2"
      properties:
        reference:
          type: string
          description: ContentV2 Reference
    BaseAttributeContentDtoV3:
      description: Base Attribute Content
      discriminator:
        propertyName: contentType
        mapping:
          boolean: "#/components/schemas/BooleanAttributeContentV3"
          codeblock: "#/components/schemas/CodeBlockAttributeContentV3"
          date: "#/components/schemas/DateAttributeContentV3"
          datetime: "#/components/schemas/DateTimeAttributeContentV3"
          file: "#/components/schemas/FileAttributeContentV3"
          float: "#/components/schemas/FloatAttributeContentV3"
          integer: "#/components/schemas/IntegerAttributeContentV3"
          object: "#/components/schemas/ObjectAttributeContentV3"
          string: "#/components/schemas/StringAttributeContentV3"
          text: "#/components/schemas/TextAttributeContentV3"
          time: "#/components/schemas/TimeAttributeContentV3"
          resource: "#/components/schemas/ResourceObjectContent"
      oneOf:
      - $ref: "#/components/schemas/BooleanAttributeContentV3"
      - $ref: "#/components/schemas/CodeBlockAttributeContentV3"
      - $ref: "#/components/schemas/DateAttributeContentV3"
      - $ref: "#/components/schemas/DateTimeAttributeContentV3"
      - $ref: "#/components/schemas/FileAttributeContentV3"
      - $ref: "#/components/schemas/FloatAttributeContentV3"
      - $ref: "#/components/schemas/IntegerAttributeContentV3"
      - $ref: "#/components/schemas/ObjectAttributeContentV3"
      - $ref: "#/components/schemas/StringAttributeContentV3"
      - $ref: "#/components/schemas/TextAttributeContentV3"
      - $ref: "#/components/schemas/TimeAttributeContentV3"
      - $ref: "#/components/schemas/ResourceObjectContent"
    BasicAuthSecretContent:
      type: object
      description: Secret representing Basic Authentication credentials
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        username:
          type: string
          description: Username for Basic Authentication
          example: admin
          minLength: 1
        password:
          type: string
          description: Password for Basic Authentication
          minLength: 1
      required:
      - password
      - type
      - username
      title: BasicAuthSecretContent
    BooleanAttributeContentV2:
      type: object
      description: Boolean attribute content to store true/false values
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: boolean
          description: Boolean attribute value
      required:
      - data
    BooleanAttributeContentV3:
      type: object
      description: Boolean attribute content to store true/false values
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: boolean
          description: Boolean attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Boolean attribute value
      required:
      - contentType
      - data
    CertificateType:
      type: string
      enum:
      - X.509
      - SSH
    CodeBlockAttributeContentData:
      type: object
      properties:
        language:
          $ref: "#/components/schemas/ProgrammingLanguageEnum"
          description: Definition of programming languages used for code
          examples:
          - "JAVA, PHP, C, etc"
        code:
          type: string
          description: Block of the code in Base64. Formatting of the code is specified
            by variable language
      required:
      - code
      - language
    CodeBlockAttributeContentV2:
      type: object
      description: Codeblock attribute content to store encoded snippets of programming
        language code
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/CodeBlockAttributeContentData"
          description: CodeBlock attribute content data
      required:
      - data
    CodeBlockAttributeContentV3:
      type: object
      description: Codeblock attribute content to store encoded snippets of programming
        language code
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/CodeBlockAttributeContentData"
          description: CodeBlock attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    ContentSigningWorkflowRequestDto:
      type: object
      description: Content signing workflow configuration request. The validation
        material that LONG_TERM and ARCHIVAL embed is fetched by the Signature Formatting
        Provider and needs no configuration here.
      properties:
        type:
          $ref: "#/components/schemas/SigningWorkflowType"
          description: Signing workflow type
          examples:
          - timestamping
        signatureFormattingConnectorUuid:
          type: string
          format: uuid
          description: UUID of the Signature Formatting Provider that constructs the
            data-to-be-signed (DTBS) for Content signing. Required for ILM-managed
            signing; must be omitted for delegated signing.
        signatureFormattingConnectorAttributes:
          type: array
          description: Attributes for the Signature Formatting Provider that control
            DTBS construction for the content signing workflow. Must be omitted for
            delegated signing.
          items:
            $ref: "#/components/schemas/RequestAttribute"
        family:
          $ref: "#/components/schemas/SignatureFamily"
          description: Signature family this profile produces. Required for ILM-managed
            signing; must be omitted for delegated signing.
        maxLevel:
          $ref: "#/components/schemas/SignatureLevel"
          description: Highest signature level a request may ask for. A request asking
            for more is rejected. Required for ILM-managed signing; must be omitted
            for delegated signing.
        timestampSource:
          $ref: "#/components/schemas/TimestampSourceRequestDto"
          description: "Source of the timestamps embedded at level TIMESTAMPED and\
            \ above. Required when maxLevel is TIMESTAMPED or higher, and must be\
            \ omitted when maxLevel is SIGNED, which embeds no timestamp. Must be\
            \ omitted for delegated signing."
        documentSizeCap:
          type: integer
          format: int64
          description: "Largest document accepted for signing, in bytes. Enforced\
            \ when an ILM-managed signing request arrives. When omitted, no profile-level\
            \ cap applies."
          example: 5242880
        requireNonRepudiation:
          type: boolean
          description: "Demand the nonRepudiation key-usage bit specifically, for\
            \ commitment-grade profiles. Applies to ILM-managed signing only. For\
            \ delegated signing, omit it or send false; an echoed false from a response\
            \ is accepted, true is rejected."
        requiredExtendedKeyUsageOids:
          type: array
          description: "Extended key usage OIDs the signing certificate must all carry,\
            \ in dot notation (1.3.6.1.5.5.7.3.36 is RFC 9336 id-kp-documentSigning).\
            \ An empty set accepts any extended key usage. Applies to ILM-managed\
            \ signing only; for delegated signing send nothing or an empty set."
          items:
            type: string
            minLength: 1
            pattern: "^([01]\\.(\\d|[1-3]\\d)|2\\.(0|[1-9]\\d*))(\\.(0|[1-9]\\d*)){0,49}$"
          uniqueItems: true
      required:
      - type
    CredentialAttributeContentData:
      type: object
      properties:
        uuid:
          type: string
          description: Object identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Object Name
          examples:
          - Name
        kind:
          type: string
          description: Credential Kind
          examples:
          - "SoftKeyStore, Basic, ApiKey, etc"
        attributes:
          type: array
          description: List of Credential Attributes
          items:
            $ref: "#/components/schemas/DataAttributeV2"
      required:
      - attributes
      - kind
      - name
      - uuid
    CredentialAttributeContentV2:
      type: object
      description: Credential attribute content carrying information about credential
        to use
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/CredentialAttributeContentData"
          description: Credential attribute content data
      required:
      - data
    DataAttributeProperties:
      type: object
      properties:
        label:
          type: string
          description: Friendly name of the the Attribute
          examples:
          - Attribute Name
        visible:
          type: boolean
          default: true
          description: "Boolean determining if the Attribute is visible and can be\
            \ displayed, otherwise it should be hidden to the user."
        group:
          type: string
          description: "Group of the Attribute, used for the logical grouping of the\
            \ Attribute"
          examples:
          - requiredAttributes
        required:
          type: boolean
          default: false
          description: "Boolean determining if the Attribute is required. If true,\
            \ the Attribute must be provided."
        readOnly:
          type: boolean
          default: false
          description: "Boolean determining if the Attribute is read only. If true,\
            \ the Attribute content cannot be changed."
        list:
          type: boolean
          default: false
          description: Boolean determining if the Attribute contains list of values
            in the content
        multiSelect:
          type: boolean
          default: false
          description: Boolean determining if the Attribute can have multiple values
        protectionLevel:
          $ref: "#/components/schemas/ProtectionLevel"
          default: none
          description: Protection level of the attribute content
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: "Resource of the attribute, relevant if the attribute has Resource\
            \ content type"
        extensibleList:
          type: boolean
          default: false
          description: Boolean determining if a list Attribute can have values other
            than predefined options
      required:
      - extensibleList
      - label
      - list
      - multiSelect
      - readOnly
      - required
      - visible
    DataAttributeV2:
      type: object
      description: Data attribute allows to store and transfer dynamic data. Its content
        can be edited and send in requests to store.
      properties:
        uuid:
          type: string
          description: UUID of the Attribute for unique identification
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute that is used for identification
          examples:
          - Attribute
        description:
          type: string
          description: "Optional description of the Attribute, should contain helper\
            \ text on what is expected"
        version:
          type: integer
          format: int32
          description: Version of the attribute
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        content:
          type: array
          description: Content of the Attribute
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Type of the Content
        properties:
          $ref: "#/components/schemas/DataAttributeProperties"
          description: Properties of the Attributes
        constraints:
          type: array
          description: Optional constraints used for validating the Attribute content
          items:
            $ref: "#/components/schemas/BaseAttributeConstraint"
        attributeCallback:
          $ref: "#/components/schemas/AttributeCallback"
          description: Optional definition of callback for getting the content of
            the Attribute based on the action
      required:
      - contentType
      - name
      - properties
      - type
      - uuid
      - version
    DateAttributeContentV2:
      type: object
      description: Date attribute content in predefined format
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          format: date
          description: Date attribute value in format yyyy-MM-dd
      required:
      - data
    DateAttributeContentV3:
      type: object
      description: Date attribute content in predefined format
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          format: date
          description: Date attribute value in format yyyy-MM-dd
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    DateTimeAttributeConstraint:
      type: object
      description: DateTime attribute constraint to specify boundaries for date value
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          $ref: "#/components/schemas/DateTimeAttributeConstraintData"
          description: DateTime Range Attribute Constraint Data
      required:
      - type
    DateTimeAttributeConstraintData:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: Start of the datetime for validation
        to:
          type: string
          format: date-time
          description: End of the datetime for validation
    DateTimeAttributeContentV2:
      type: object
      description: DateTime attribute content in predefined format with timezone
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          format: date-time
          description: DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX
      required:
      - data
    DateTimeAttributeContentV3:
      type: object
      description: DateTime attribute content in predefined format with timezone
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          format: date-time
          description: DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    DelegatedSigningRequestDto:
      type: object
      description: Request to configure delegated signing with Connector and attributes
      properties:
        signingScheme:
          $ref: "#/components/schemas/SigningScheme"
          description: Signing scheme
          examples:
          - managed
        connectorUuid:
          type: string
          format: uuid
          description: UUID of the Connector to use for delegated signing
        attributes:
          type: array
          description: List of attributes for the Connector
          items:
            $ref: "#/components/schemas/RequestAttribute"
      required:
      - connectorUuid
      - signingScheme
    DigestAlgorithm:
      type: string
      enum:
      - MD5
      - SHA-1
      - SHA-224
      - SHA-256
      - SHA-384
      - SHA-512
      - SHA3-256
      - SHA3-384
      - SHA3-512
    FileAttributeContentData:
      type: object
      properties:
        content:
          type: string
          description: File content
        fileName:
          type: string
          description: Name of the file
        mimeType:
          type: string
          description: Type of the file uploaded
      required:
      - content
      - fileName
      - mimeType
    FileAttributeContentV2:
      type: object
      description: File attribute content for storing encoded file content with additional
        info
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/FileAttributeContentData"
          description: File attribute content data
      required:
      - data
    FileAttributeContentV3:
      type: object
      description: File attribute content for storing encoded file content with additional
        info
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/FileAttributeContentData"
          description: File attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    FloatAttributeContentV2:
      type: object
      description: Float attribute content for decimal numbers
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: number
          format: float
          description: Float attribute value
      required:
      - data
    FloatAttributeContentV3:
      type: object
      description: Float attribute content for decimal numbers
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: number
          format: float
          description: Float attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    GenericSecretContent:
      type: object
      description: Secret representing generic content represented as string
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: "Generic secret content represented as string. In case secret\
            \ content is binary data, it should be encoded as BASE64 string."
          minLength: 1
      required:
      - content
      - type
      title: GenericSecretContent
    IntegerAttributeContentV2:
      type: object
      description: Integer attribute content for integer numbers
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: integer
          format: int32
          description: Integer attribute value
      required:
      - data
    IntegerAttributeContentV3:
      type: object
      description: Integer attribute content for integer numbers
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: integer
          format: int32
          description: Integer attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    InternalTimestampSourceRequestDto:
      type: object
      description: "Timestamp source referencing a Timestamping Signing Profile on\
        \ this platform by UUID, as supplied on create and update"
      properties:
        signingProfileUuid:
          type: string
          format: uuid
          description: UUID of the Timestamping Signing Profile that issues the timestamps.
            ILM rejects a UUID that is not a Timestamping profile.
        type:
          $ref: "#/components/schemas/TimestampSourceType"
          description: "Kind of timestamp source, and the discriminator selecting\
            \ the fields that accompany it"
          examples:
          - internal
      required:
      - signingProfileUuid
      - type
    JsonSchemaAttributeConstraint:
      type: object
      description: JSON Schema attribute constraint restricting a string value to
        JSON conforming to an inline JSON Schema (draft 2020-12)
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          type: string
          description: Inline JSON Schema document the value must conform to
          minLength: 1
      required:
      - data
      - type
    JwtTokenSecretContent:
      type: object
      description: Secret representing JWT Token
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: "JWT Token content in compact (dot-separated) format specified\
            \ in [RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-3)"
          example: eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk
          minLength: 1
      required:
      - content
      - type
      title: JwtTokenSecretContent
    KeyStoreSecretContent:
      type: object
      description: Secret representing Key Store
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        keyStoreType:
          $ref: "#/components/schemas/KeyStoreType"
          description: Key Store type
        content:
          type: string
          description: BASE64 encoded content of key store
          minLength: 1
        password:
          type: string
          description: Password for key store
      required:
      - content
      - keyStoreType
      - password
      - type
      title: KeyStoreSecretContent
    KeyStoreType:
      type: string
      enum:
      - JKS
      - PKCS12
    KeyValueSecretContent:
      type: object
      description: Secret representing key-value pairs
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: object
          additionalProperties: {}
          description: "Key-Value pairs stored as the secret content, represented\
            \ by JSON object"
      required:
      - content
      - type
      title: KeyValueSecretContent
    ManagedSigningRequestSchemeInterface:
      type: object
      description: Managed signing request configuration dependent on the managed
        signing type
      discriminator:
        propertyName: managedSigningType
        mapping:
          static_key: "#/components/schemas/StaticKeyManagedSigningRequestDto"
          one_time_key: "#/components/schemas/OneTimeKeyManagedSigningRequestDto"
      oneOf:
      - $ref: "#/components/schemas/StaticKeyManagedSigningRequestDto"
      - $ref: "#/components/schemas/OneTimeKeyManagedSigningRequestDto"
      required:
      - managedSigningType
    ManagedSigningType:
      type: string
      enum:
      - static_key
      - one_time_key
    ObjectAttributeContentV2:
      type: object
      description: Object attribute content for data with custom structure
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          description: Object attribute content data
      required:
      - data
    ObjectAttributeContentV3:
      type: object
      description: Object attribute content for data with custom structure
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          description: Object attribute content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    OneTimeKeyManagedSigningRequestDto:
      type: object
      description: Request to configure managed signing with a one-time certificate
        issuance
      properties:
        signingScheme:
          $ref: "#/components/schemas/SigningScheme"
          description: Signing scheme
          examples:
          - managed
        managedSigningType:
          $ref: "#/components/schemas/ManagedSigningType"
          description: Managed signing type
        raProfileUuid:
          type: string
          format: uuid
          description: UUID of the RA Profile used to issue the one-time signing certificate
        csrTemplateUuid:
          type: string
          format: uuid
          description: UUID of the CSR Template used for the certificate issuance
            request
        tokenProfileUuid:
          type: string
          format: uuid
          description: UUID of the Token Profile used to store and manage the issued
            certificate and key pair
        signingOperationAttributes:
          type: array
          description: "List of attributes required for signing operations (such as\
            \ digest algorithm), provided by the Cryptography Provider Connector"
          items:
            $ref: "#/components/schemas/RequestAttribute"
      required:
      - csrTemplateUuid
      - managedSigningType
      - raProfileUuid
      - signingOperationAttributes
      - signingScheme
      - tokenProfileUuid
    PrivateKeySecretContent:
      type: object
      description: Secret representing private key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: BASE64 encoded content of key in PEM format
          minLength: 1
      required:
      - content
      - type
      title: PrivateKeySecretContent
    ProgrammingLanguageEnum:
      type: string
      enum:
      - apacheconf
      - bash
      - basic
      - c
      - csharp
      - cpp
      - css
      - docker
      - fsharp
      - gherkin
      - git
      - go
      - graphql
      - html
      - http
      - ini
      - java
      - javascript
      - json
      - kotlin
      - latex
      - lisp
      - makefile
      - markdown
      - matlab
      - nginx
      - objectivec
      - perl
      - php
      - powershell
      - properties
      - python
      - ruby
      - rust
      - smalltalk
      - sql
      - typescript
      - vbnet
      - xquery
      - xml
      - yaml
    ProtectionLevel:
      type: string
      enum:
      - none
      - encrypted
    RangeAttributeConstraint:
      type: object
      description: Range attribute constraint to specify boundaries for integer value
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          $ref: "#/components/schemas/RangeAttributeConstraintData"
          description: Integer Range Attribute Constraint Data
      required:
      - type
    RangeAttributeConstraintData:
      type: object
      properties:
        from:
          type: integer
          format: int32
          description: Start of the range for validation
        to:
          type: integer
          format: int32
          description: End of the range for validation
    RawSigningWorkflowRequestDto:
      type: object
      description: Raw signing workflow configuration request.
      properties:
        type:
          $ref: "#/components/schemas/SigningWorkflowType"
          description: Signing workflow type
          examples:
          - timestamping
      required:
      - type
    RegexpAttributeConstraint:
      type: object
      description: RegExp attribute constraint to restrict string value by regular
        expression
      properties:
        description:
          type: string
          description: Description of the constraint
        errorMessage:
          type: string
          description: Error message to be displayed for wrong data
        type:
          $ref: "#/components/schemas/AttributeConstraintType"
          description: Attribute Constraint Type
        data:
          type: string
          description: Regular Expression Attribute Constraint Data
      required:
      - type
    RequestAttribute:
      type: object
      description: Request attribute to send attribute content for object
      discriminator:
        propertyName: version
        mapping:
          v2: "#/components/schemas/RequestAttributeV2"
          v3: "#/components/schemas/RequestAttributeV3"
      oneOf:
      - $ref: "#/components/schemas/RequestAttributeV3"
      - $ref: "#/components/schemas/RequestAttributeV2"
      required:
      - contentType
      - name
      - uuid
      - version
    RequestAttributeV2:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - name
      - uuid
      - version
    RequestAttributeV3:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV3"
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - name
      - uuid
      - version
    ResourceCertificateContentData:
      type: object
      description: Content data for resource object attribute containing certificate
        content
      properties:
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        certificateType:
          $ref: "#/components/schemas/CertificateType"
          description: Certificate type
        content:
          type: string
          description: Base64 encoded content of the certificate
      required:
      - name
      - resource
      - uuid
      title: ResourceCertificateContentData
    ResourceObjectContent:
      type: object
      description: Resource object attribute content carrying resource object data
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          $ref: "#/components/schemas/ResourceObjectContentData"
          description: Resource Object content data
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    ResourceObjectContentData:
      type: object
      discriminator:
        propertyName: resource
        mapping:
          authorities: "#/components/schemas/ResourceSimpleContentData"
          entities: "#/components/schemas/ResourceSimpleContentData"
          locations: "#/components/schemas/ResourceSimpleContentData"
          credentials: "#/components/schemas/ResourceSimpleContentData"
          certificates: "#/components/schemas/ResourceCertificateContentData"
          secrets: "#/components/schemas/ResourceSecretContentData"
      oneOf:
      - $ref: "#/components/schemas/ResourceSimpleContentData"
      - $ref: "#/components/schemas/ResourceCertificateContentData"
      - $ref: "#/components/schemas/ResourceSecretContentData"
      required:
      - name
      - resource
      - uuid
    ResourceSecretContentData:
      type: object
      description: Content data for resource object attribute containing secret content
      properties:
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        content:
          $ref: "#/components/schemas/SecretContent"
          description: Secret content of the resource object
      required:
      - name
      - resource
      - uuid
      title: ResourceSecretContentData
    ResourceSimpleContentData:
      type: object
      description: Content data for resource object defined by its attributes
      properties:
        resource:
          $ref: "#/components/schemas/AttributeResource"
          description: Resource contained in data
          example: authorities
        uuid:
          type: string
          description: Resource identifier
          examples:
          - 7b55ge1c-844f-11dc-a8a3-0242ac120002
        name:
          type: string
          description: Resource name
          examples:
          - Main authority
        attributes:
          type: array
          description: Attributes of the resource object
          items:
            $ref: "#/components/schemas/ResponseAttribute"
      required:
      - name
      - resource
      - uuid
      title: ResourceSimpleContentData
    ResponseAttribute:
      type: object
      description: Response attribute to send attribute content for object
      discriminator:
        propertyName: version
        mapping:
          v2: "#/components/schemas/ResponseAttributeV2"
          v3: "#/components/schemas/ResponseAttributeV3"
      oneOf:
      - $ref: "#/components/schemas/ResponseAttributeV2"
      - $ref: "#/components/schemas/ResponseAttributeV3"
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    ResponseAttributeV2:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/BaseAttributeContentDtoV2"
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        label:
          type: string
          description: Label of the the Attribute
          examples:
          - Attribute Name
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    ResponseAttributeV3:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the Attribute
          example: b11c9be1-b619-4ef5-be1b-a1cd9ef265b7
        name:
          type: string
          description: Name of the Attribute
          examples:
          - Attribute
        label:
          type: string
          description: Label of the the Attribute
          examples:
          - Attribute Name
        type:
          $ref: "#/components/schemas/AttributeType"
          description: Type of the Attribute
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the Attribute
          examples:
          - Attribute
        version:
          $ref: "#/components/schemas/AttributeVersion"
          description: Version of the Attribute
      required:
      - contentType
      - label
      - name
      - type
      - uuid
      - version
    SecretAttributeContentData:
      type: object
      properties:
        secret:
          type: string
          description: Secret attribute data
        protectionLevel:
          $ref: "#/components/schemas/ProtectionLevel"
          description: Level of protection of the data
    SecretAttributeContentV2:
      type: object
      description: Secret attribute content carrying secrets with defined protection
        level
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          $ref: "#/components/schemas/SecretAttributeContentData"
          description: Secret attribute content data
      required:
      - data
    SecretContent:
      type: object
      description: Secret content dependent on secret type
      discriminator:
        propertyName: type
        mapping:
          basicAuth: "#/components/schemas/BasicAuthSecretContent"
          apiKey: "#/components/schemas/ApiKeySecretContent"
          jwtToken: "#/components/schemas/JwtTokenSecretContent"
          privateKey: "#/components/schemas/PrivateKeySecretContent"
          secretKey: "#/components/schemas/SecretKeySecretContent"
          keyStore: "#/components/schemas/KeyStoreSecretContent"
          keyValue: "#/components/schemas/KeyValueSecretContent"
          generic: "#/components/schemas/GenericSecretContent"
      oneOf:
      - $ref: "#/components/schemas/BasicAuthSecretContent"
      - $ref: "#/components/schemas/ApiKeySecretContent"
      - $ref: "#/components/schemas/JwtTokenSecretContent"
      - $ref: "#/components/schemas/PrivateKeySecretContent"
      - $ref: "#/components/schemas/SecretKeySecretContent"
      - $ref: "#/components/schemas/KeyStoreSecretContent"
      - $ref: "#/components/schemas/KeyValueSecretContent"
      - $ref: "#/components/schemas/GenericSecretContent"
      required:
      - type
    SecretKeySecretContent:
      type: object
      description: Secret representing secret key
      properties:
        type:
          $ref: "#/components/schemas/SecretType"
          description: Secret type
          examples:
          - apiKey
        content:
          type: string
          description: BASE64 encoded binary (raw) content of key
          minLength: 1
      required:
      - content
      - type
      title: SecretKeySecretContent
    SecretType:
      type: string
      enum:
      - basicAuth
      - apiKey
      - jwtToken
      - privateKey
      - secretKey
      - keyStore
      - keyValue
      - generic
    SignatureFamily:
      type: string
      description: "Signature family, naming the standard and document format a signature\
        \ follows"
      enum:
      - pades
      - xades
      - cades
      - jades
    SignatureLevel:
      type: string
      description: "Level a signature has reached, ordered from SIGNED up to ARCHIVAL\
        \ with each level containing the one before it"
      enum:
      - signed
      - timestamped
      - long_term
      - archival
    SigningProfileRequestDto:
      type: object
      description: Request to create or update a Signing Profile
      properties:
        name:
          type: string
          description: Name of the Signing Profile
          example: SigningProfile-1
          minLength: 1
        description:
          type: string
          description: Description of the Signing Profile
          example: Profile for content signing
        signingScheme:
          $ref: "#/components/schemas/SigningSchemeRequestInterface"
          description: Signing scheme configuration (who holds the key and how the
            cryptographic operation is performed)
        workflow:
          $ref: "#/components/schemas/WorkflowRequestInterface"
          description: Workflow-type-specific configuration.
        customAttributes:
          type: array
          description: List of Custom Attributes
          items:
            $ref: "#/components/schemas/RequestAttribute"
        recordPolicy:
          $ref: "#/components/schemas/SigningRecordPolicyRequestDto"
          description: "Signing Record policy. When omitted, defaults are used (no\
            \ signing record)."
      required:
      - name
      - signingScheme
      - workflow
    SigningRecordPersistenceMode:
      type: string
      description: "Persistence mode for Signing Records, ordered by descending durability"
      enum:
      - immediate
      - deferred_durable
      - best_effort
    SigningRecordPolicyRequestDto:
      type: object
      description: Per-profile policy for what to record about each signing operation
      properties:
        recordingEnabled:
          type: boolean
          default: true
          description: "Master switch: when false, no Signing Record is created at\
            \ all for this profile, regardless of the content policy below. When true,\
            \ a record is always created (capturing the content selected below, or\
            \ metadata-only if none is selected)."
        recordRequestMetadata:
          type: boolean
          description: "Content policy: capture inbound request parameters (algorithm,\
            \ policy IDs, claimed signer)"
        recordSignature:
          type: boolean
          description: "Content policy: capture raw signature value"
        recordSignedDocument:
          type: boolean
          description: "Content policy: capture assembled signed document (only valid\
            \ for CONTENT_SIGNING and TIMESTAMPING workflows)"
        recordDtbs:
          type: boolean
          description: "Content policy: capture data-to-be-signed bytes"
        retentionDays:
          type: integer
          format: int32
          description: Retention in days. null = retain indefinitely. Minimum is 1
            day.
          minimum: 1
        deleteAfterRetrieval:
          type: boolean
          description: Delete the signed document after CSC API async retrieval succeeds
        persistenceMode:
          $ref: "#/components/schemas/SigningRecordPersistenceMode"
          default: deferred_durable
          description: Persistence-mode trade-off between latency and durability
    SigningScheme:
      type: string
      enum:
      - managed
      - delegated
    SigningSchemeRequestInterface:
      type: object
      description: Signing Scheme request configuration dependent on signing scheme
      discriminator:
        propertyName: signingScheme
        mapping:
          delegated: "#/components/schemas/DelegatedSigningRequestDto"
          managed: "#/components/schemas/ManagedSigningRequestSchemeInterface"
      oneOf:
      - $ref: "#/components/schemas/DelegatedSigningRequestDto"
      - $ref: "#/components/schemas/ManagedSigningRequestSchemeInterface"
      required:
      - signingScheme
    SigningWorkflowType:
      type: string
      enum:
      - content_signing
      - raw_signing
      - timestamping
    StaticKeyManagedSigningRequestDto:
      type: object
      description: Request to configure managed signing with a static certificate
        and associated key(s)
      properties:
        signingScheme:
          $ref: "#/components/schemas/SigningScheme"
          description: Signing scheme
          examples:
          - managed
        managedSigningType:
          $ref: "#/components/schemas/ManagedSigningType"
          description: Managed signing type
        certificateUuid:
          type: string
          format: uuid
          description: UUID of the Certificate and associated key(s) to use for signing
        signingOperationAttributes:
          type: array
          description: "List of attributes required for signing operations (such as\
            \ digest algorithm), provided by the Cryptography Provider Connector"
          items:
            $ref: "#/components/schemas/RequestAttribute"
      required:
      - certificateUuid
      - managedSigningType
      - signingOperationAttributes
      - signingScheme
    StringAttributeContentV2:
      type: object
      description: String attribute content
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: String attribute value
      required:
      - data
    StringAttributeContentV3:
      type: object
      description: String attribute content
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: String attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    TextAttributeContentV2:
      type: object
      description: Text attribute content used to store longer formatted strings
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: Text attribute value
      required:
      - data
    TextAttributeContentV3:
      type: object
      description: Text attribute content used to store longer formatted strings
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: Text attribute value
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    TimeAttributeContentV2:
      type: object
      description: Time attribute content in predefined format
      properties:
        reference:
          type: string
          description: ContentV2 Reference
        data:
          type: string
          description: Time attribute value in format HH:mm:ss
      required:
      - data
    TimeAttributeContentV3:
      type: object
      description: Time attribute content in predefined format
      properties:
        reference:
          type: string
          description: Content Reference
        data:
          type: string
          description: Time attribute value in format HH:mm:ss
        contentType:
          $ref: "#/components/schemas/AttributeContentType"
          description: Content Type of the attribute
      required:
      - contentType
      - data
    TimestampSourceRequestDto:
      type: object
      description: "Source of the timestamps a content-signing profile embeds, as\
        \ supplied on create and update. The required type property is the discriminator\
        \ selecting the source."
      discriminator:
        propertyName: type
        mapping:
          internal: "#/components/schemas/InternalTimestampSourceRequestDto"
      oneOf:
      - $ref: "#/components/schemas/InternalTimestampSourceRequestDto"
      required:
      - type
    TimestampSourceType:
      type: string
      description: "Kind of timestamp source, and the discriminator selecting the\
        \ fields that accompany it"
      enum:
      - internal
    TimestampingWorkflowRequestDto:
      type: object
      description: Timestamping workflow configuration request
      properties:
        type:
          $ref: "#/components/schemas/SigningWorkflowType"
          description: Signing workflow type
          examples:
          - timestamping
        signatureFormattingConnectorUuid:
          type: string
          format: uuid
          description: UUID of the Signature Formatting Provider that constructs the
            data-to-be-signed (DTBS) for Timestamping. Required for ILM-managed signing;
            must be omitted for delegated signing.
        signatureFormattingConnectorAttributes:
          type: array
          description: "Attributes for the Signature Formatting Provider that control\
            \ DTBS construction (e.g. serial number generation strategy, whether to\
            \ include signing time attribute). Applicable only when ILM-managed signing\
            \ is used."
          items:
            $ref: "#/components/schemas/RequestAttribute"
        qualifiedTimestamp:
          type: boolean
          description: ETSI qualified electronic timestamp. Present only when ILM-managed
            signing is used; null for delegated signing.
        timeQualityConfigurationUuid:
          type: string
          format: uuid
          description: UUID of the Time Quality Configuration that validates clock
            accuracy at signing time. Required when qualifiedTimestamp is true (ETSI
            EN 319 421). Applicable only when ILM-managed signing is used.
        defaultPolicyId:
          type: string
          description: Default TSA Policy ID under which the timestamp token is issued
            (OID format). Used for validation of both managed and delegated Timestamping.
          example: 1.2.3.4.5
        allowedPolicyIds:
          type: array
          description: Set of TSA Policy IDs accepted as valid for incoming timestamp
            requests (OID format). Used for validation of both managed and delegated
            Timestamping.
          example:
          - 1.2.3.4.5
          - 1.2.3.4.6
          items:
            type: string
        allowedDigestAlgorithms:
          type: array
          description: List of digest algorithms that are accepted for timestamping.
            An empty list means that all digest algorithms are accepted.
          example:
          - SHA-256
          - SHA-384
          items:
            $ref: "#/components/schemas/DigestAlgorithm"
        validateTokenSignature:
          type: boolean
          description: Whether to validate the timestamp token after it was issued.
      required:
      - type
    WorkflowRequestInterface:
      type: object
      description: Workflow configuration request specific to the signing workflow
        type
      discriminator:
        propertyName: type
        mapping:
          timestamping: "#/components/schemas/TimestampingWorkflowRequestDto"
          content_signing: "#/components/schemas/ContentSigningWorkflowRequestDto"
          raw_signing: "#/components/schemas/RawSigningWorkflowRequestDto"
      oneOf:
      - $ref: "#/components/schemas/TimestampingWorkflowRequestDto"
      - $ref: "#/components/schemas/ContentSigningWorkflowRequestDto"
      - $ref: "#/components/schemas/RawSigningWorkflowRequestDto"
      required:
      - type
    ErrorMessageDto:
      type: object
      properties:
        message:
          type: string
          description: Error message detail
          examples:
          - Error message
      required:
      - message
    AuthenticationServiceExceptionDto:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          description: Status code of the HTTP Request
        code:
          type: string
          description: Code of the result
        message:
          type: string
          description: Exception message
      required:
      - code
      - message
      - statusCode
    CertificateRelationType:
      type: string
      enum:
      - renewal
      - rekey
      - replacement
      - pending
    CertificateSimpleDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: UUID of the certificate
        certificateType:
          $ref: "#/components/schemas/CertificateType"
          description: Type of the certificate
        state:
          $ref: "#/components/schemas/CertificateState"
          description: State of the certificate
        relationType:
          $ref: "#/components/schemas/CertificateRelationType"
          description: Relation type
        commonName:
          type: string
          description: Common name
        subjectDn:
          type: string
          description: Subject distinguished name
        issuerCommonName:
          type: string
          description: Issuer common name
        issuerDn:
          type: string
          description: Issuer distinguished name
        serialNumber:
          type: string
          description: Certificate serial number
        fingerprint:
          type: string
          description: Certificate fingerprint
        publicKeyAlgorithm:
          type: string
          description: Public key algorithm
        altPublicKeyAlgorithm:
          type: string
          description: Alternative public key algorithm
        signatureAlgorithm:
          type: string
          description: Signature algorithm
        altSignatureAlgorithm:
          type: string
          description: Alternative signature algorithm
        notBefore:
          type: string
          format: date-time
          description: Not before date
        notAfter:
          type: string
          format: date-time
          description: Not after date
      required:
      - certificateType
      - commonName
      - publicKeyAlgorithm
      - relationType
      - state
      - subjectDn
      - uuid
    CertificateState:
      type: string
      enum:
      - requested
      - rejected
      - pending_approval
      - pending_issue
      - pending_revoke
      - pending_registration
      - registered
      - failed
      - issued
      - revoked
    ContentSigningWorkflowDto:
      type: object
      description: Content signing workflow configuration. The validation material
        that LONG_TERM and ARCHIVAL embed is fetched by the Signature Formatting Provider
        and is not configured here.
      properties:
[...]
