openapi: 3.1.0
info:
  title: Core API
  description: REST API for ILM Core
  contact:
    name: ILM
    url: https://www.otilm.com
    email: ilm@omnitrust.com
  license:
    name: "Apache License, Version 2.0"
    url: https://github.com/OmniTrustILM/interface-documentation/blob/main/LICENSE.md
  version: 2.20.0-SNAPSHOT
  x-logo:
    url: images/ilm-logo.svg
externalDocs:
  description: ILM Documentation
  url: https://docs.otilm.com
servers:
- url: https://demo.otilm.com/api
  description: ILM Demo server
security: []
tags:
- name: User Management
  description: User Management API
- name: Authentication Management
  description: Authentication Management API
- name: Secret Management
  description: "APIs for managing secrets, including creation, retrieval, updating,\
    \ and deletion of secrets."
- name: Branding
  description: Public branding API
- name: Statistics/Dashboard
  description: Statistics/Dashboard API
- name: Local operations
  description: API only accessible from localhost
- name: List View
  description: "List View API that manages the saved column selections of the logged\
    \ user. A view belongs to one user and one resource; views are never shared between\
    \ users, so every operation here acts on the views of the user the request is\
    \ authenticated as."
- name: Credential Management
  description: Credential Management API
- name: Workflow Triggers Management
  description: Workflow Triggers Management API
- name: External Notification Management
  description: "External Notification Management API for managing notification instances\
    \ that can be used to notify recipient(s) about events that were triggered in\
    \ the platform. Note that this API does not handle internal notifications. For\
    \ internal notifications, please refer to the Internal Notification API"
- name: TSP Profile Management
  description: Timestamping Protocol (TSP) Profile Management API
- name: Entity Management
  description: Entity Management API
- name: RA Profile Management
  description: RA Profile Management API
- name: Info
  description: Platform Application Information API
- name: Compliance Profile Management v2
  description: Compliance Profile Management v2 API
- name: Signing Profile Management
  description: Signing Profile Management API
- name: Custom Attributes
  description: Custom Attributes API
- name: Connector Management v2
  description: Connector Management v2 API
- name: Token Profile Management
  description: Token Profile Management API
- name: Audit Log
  description: Audit Log API
- name: Certificate Inventory
  description: Certificate Inventory API
- name: Comments
  description: Comments API
- name: Token Instance Management
  description: Token Instance Management API
- name: Workflow Rules Management
  description: Workflow Rules Management API
- name: Enums
  description: Enums API
- name: Connector Authentication
  description: Connector Authentication API
- name: Cryptographic Key Management
  description: Cryptographic Key Management API
- name: Notification profile inventory
  description: Notification profile inventory API
- name: Connector Registration
  description: Connector Registration API
- name: Group management
  description: Group management API
- name: Role Management
  description: Role Management API
- name: Approval Inventory
  description: Approval Inventory API
- name: Connector Management
  description: Connector Management API
- name: Signing Record Management
  description: Signing Record Management API. Signing Records are produced as a result
    of digital signing cryptographic operations. They cannot be created or updated
    directly via this API.
- name: Client Operations v2
  description: |
    Certificate lifecycle operations through an RA profile: issue, renew, rekey, register, revoke,
    finalize, confirm-revoke, and cancel.

    The issue, renew, rekey, and revoke operations are asynchronous: the request is validated,
    persisted, and queued; the authority-connector call runs afterwards, and an approval step may
    first move the certificate to
    PENDING_APPROVAL. The HTTP response therefore does not carry the outcome — a 2xx means the request
    was accepted, not that it completed — and the issue/renew/rekey responses never carry the signed
    certificate. Follow an operation by reading the certificate's state, and retrieve the signed
    certificate from the certificate detail once it reaches ISSUED.

    register runs inline against the connector: it reaches REGISTERED synchronously (and may return
    certificate data), or PENDING_REGISTRATION when the connector defers completion.

    A certificate left in PENDING_ISSUE or PENDING_REVOKE is completed either by platform status-polling
    (when the authority advertises it) or by an operator action — issue/finalize, revoke/confirm, or
    cancel. Query availableOperations first to learn whether asynchronous completion and cancellation
    apply to a given authority / RA profile.

    Certificate states driven by this API:

    ```
    Issuance (issueCertificate, renewCertificate, rekeyCertificate,
              issueExistingCertificate on a REQUESTED cert):
      REQUESTED --> PENDING_ISSUE --> ISSUED       connector completes (synchronously or via polling);
                         |                         manuallyIssueCertificate finalizes it the same way
                         +-- cancel ------------> FAILED
                         +-- connector failure --> FAILED

    Registration (registerCertificate, then issueExistingCertificate on a REGISTERED cert):
      PENDING_REGISTRATION --> REGISTERED --> PENDING_ISSUE --> ISSUED
               |               (connector 2xx or platform-level; then the issuance flow above)
               +-- setup failure --> FAILED

    Revocation (revokeCertificate):
      ISSUED --> REVOKED                     authority completes the revocation immediately
      ISSUED --> PENDING_REVOKE --> REVOKED  deferred, then manuallyConfirmRevoke
      PENDING_REVOKE --> ISSUED              cancelPendingCertificateOperation

    Approvals: issue / renew / rekey / revoke may pass through PENDING_APPROVAL first;
               a rejected issuance ends REJECTED (a pre-registered certificate is restored to REGISTERED),
               a rejected revocation restores the prior state.
    Terminal (no further transition via this API): REVOKED, REJECTED, FAILED.
    ```
- name: Scheduled Jobs Management
  description: Scheduled Jobs Management API
- name: Global Metadata
  description: Global Metadata API
- name: Callback
  description: Callback API
- name: Location Management
  description: Location Management API
- name: Authority Management
  description: Authority Management API
- name: CMP Profile Management
  description: CMP Profile Management API
- name: Discovery Management
  description: Discovery Management API
- name: ACME Profile Management
  description: ACME Profile Management API
- name: Approval profile Inventory
  description: Approval profile Inventory API
- name: Compliance Management v2
  description: Compliance Management v2 API
- name: Workflow Actions Management
  description: Workflow Actions Management API
- name: Internal Notification
  description: "Internal Notifications API that manages notifications for logged user\
    \ in the platform. Note that this API does not manage nor trigger external notifications.\
    \ For external notifications, please refer to the External Notification Management\
    \ API."
- name: CBOM management
  description: CBOM management API
- name: ACME Account Management
  description: ACME Account Management API
- name: Time Quality Configuration Management
  description: Time Quality Configuration Management API
- name: Trusted Certificate Management
  description: Trusted Certificate Management API
- name: Settings
  description: Settings API
- name: Workflow Event Management
  description: Workflow Event Management API
- name: Vault Instance Management
  description: Vault Instance Management API
- name: SCEP Profile Management
  description: SCEP Profile Management API
- name: TSP Profile Basic Credential Management
  description: APIs for managing Basic credentials of a TSP Profile
- name: Compliance Profile Management
  description: Compliance Profile Management API
- name: Cryptographic Operations Controller
  description: Cryptographic Operations Controller API
- name: Custom OID Management
  description: Custom OID Management API
- name: OAuth2 Login Management v2
  description: OAuth2 Login Management v2 API
- name: Vault Profile Management
  description: APIs for managing Vault Profiles
- name: Resource Management
  description: Resource Management API
- name: Proxy Management
  description: Proxy Management API
paths:
  /v2/connectors/{uuid}:
    get:
      tags:
      - Connector Management v2
      summary: Get details of a Connector
      operationId: getConnectorV2
      parameters:
      - name: uuid
        in: path
        description: Connector UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Connector details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDetailDtoV2"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - Connector Management v2
      summary: Edit a Connector
      operationId: editConnectorV2
      parameters:
      - name: uuid
        in: path
        description: Connector UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorUpdateRequestDtoV2"
        required: true
      responses:
        "200":
          description: Connector updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDetailDtoV2"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Connector Management v2
      summary: Delete a Connector
      operationId: deleteConnectorV2
      parameters:
      - name: uuid
        in: path
        description: Connector UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Connector deleted
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v2/complianceProfiles/{uuid}:
    get:
      tags:
      - Compliance Profile Management v2
      summary: Details of a Compliance Profile
      operationId: getComplianceProfileV2
      parameters:
      - name: uuid
        in: path
        description: Compliance Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Compliance Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceProfileDtoV2"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - Compliance Profile Management v2
      summary: Update Compliance Profile
      operationId: updateComplianceProfileV2
      parameters:
      - name: uuid
        in: path
        description: Compliance Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceProfileUpdateRequestDto"
        required: true
      responses:
        "200":
          description: Compliance profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceProfileDtoV2"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Compliance Profile Management v2
      summary: Delete Compliance Profile
      operationId: deleteComplianceProfileV2
      parameters:
      - name: uuid
        in: path
        description: Compliance Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Compliance Profile deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v2/complianceProfiles/rules/{internalRuleUuid}:
    put:
      tags:
      - Compliance Profile Management v2
      summary: Update Compliance internal rule
      operationId: updateComplianceInternalRuleV2
      parameters:
      - name: internalRuleUuid
        in: path
        description: Compliance internal rule UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceInternalRuleRequestDto"
        required: true
      responses:
        "200":
          description: Compliance internal rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceRuleListDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Compliance Profile Management v2
      summary: Delete Compliance internal rule
      operationId: deleteComplianceInternalRuleV2
      parameters:
      - name: internalRuleUuid
        in: path
        description: Compliance internal rule UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Compliance internal rule deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/workflows/triggers/{triggerUuid}:
    get:
      tags:
      - Workflow Triggers Management
      summary: Get Trigger details
      operationId: getTrigger
      parameters:
      - name: triggerUuid
        in: path
        description: Trigger UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Trigger details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerDetailDto"
        "404":
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Workflow Triggers Management
      summary: Update Trigger
      operationId: updateTrigger
      parameters:
      - name: triggerUuid
        in: path
        description: Trigger UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTriggerRequestDto"
        required: true
      responses:
        "200":
          description: Trigger updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerDetailDto"
        "404":
          description: "Trigger, Rule or Action not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Trigger already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Workflow Triggers Management
      summary: Delete Trigger
      operationId: deleteTrigger
      parameters:
      - name: triggerUuid
        in: path
        description: Trigger UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Trigger deleted
        "404":
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/workflows/rules/{ruleUuid}:
    get:
      tags:
      - Workflow Rules Management
      summary: Get Rule details
      operationId: getRule
      parameters:
      - name: ruleUuid
        in: path
        description: Rule UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Rule details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleDetailDto"
        "404":
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Workflow Rules Management
      summary: Update Rule
      operationId: updateRule
      parameters:
      - name: ruleUuid
        in: path
        description: Rule UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRuleRequestDto"
        required: true
      responses:
        "200":
          description: Rule details updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleDetailDto"
        "404":
          description: Rule or condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Rule already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Workflow Rules Management
      summary: Delete Rule
      operationId: deleteRule
      parameters:
      - name: ruleUuid
        in: path
        description: Rule UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Rule deleted
        "404":
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/workflows/executions/{executionUuid}:
    get:
      tags:
      - Workflow Actions Management
      summary: Get Execution Details
      operationId: getExecution
      parameters:
      - name: executionUuid
        in: path
        description: Execution UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Execution details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionDto"
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Workflow Actions Management
      summary: Update Execution
      operationId: updateExecution
      parameters:
      - name: executionUuid
        in: path
        description: Execution UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExecutionRequestDto"
        required: true
      responses:
        "200":
          description: Execution updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionDto"
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Execution already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Workflow Actions Management
      summary: Delete Execution
      operationId: deleteExecution
      parameters:
      - name: executionUuid
        in: path
        description: Execution UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Execution deleted
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/workflows/conditions/{conditionUuid}:
    get:
      tags:
      - Workflow Rules Management
      summary: Get Condition details
      operationId: getCondition
      parameters:
      - name: conditionUuid
        in: path
        description: Condition UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Condition details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConditionDto"
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Workflow Rules Management
      summary: Update Condition
      operationId: updateCondition
      parameters:
      - name: conditionUuid
        in: path
        description: Condition UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConditionRequestDto"
        required: true
      responses:
        "200":
          description: Condition updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConditionDto"
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Condition already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Workflow Rules Management
      summary: Delete Condition
      operationId: deleteCondition
      parameters:
      - name: conditionUuid
        in: path
        description: Condition UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Condition deleted
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/workflows/actions/{actionUuid}:
    get:
      tags:
      - Workflow Actions Management
      summary: Get Action Details
      operationId: getAction
      parameters:
      - name: actionUuid
        in: path
        description: Action UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Action details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionDetailDto"
        "404":
          description: Action not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Workflow Actions Management
      summary: Update Action
      operationId: updateAction
      parameters:
      - name: actionUuid
        in: path
        description: Action UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateActionRequestDto"
        required: true
      responses:
        "200":
          description: Action updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionDetailDto"
        "404":
          description: Action or Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Action already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Workflow Actions Management
      summary: Delete Action
      operationId: deleteAction
      parameters:
      - name: actionUuid
        in: path
        description: Action UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Action deleted
        "404":
          description: Action not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/vaults/{vaultUuid}/vaultProfiles/{vaultProfileUuid}:
    get:
      tags:
      - Vault Profile Management
      summary: Get details of a Vault Profile
      operationId: getVaultProfileDetails
      parameters:
      - name: vaultUuid
        in: path
        description: UUID of Vault Instance
        required: true
        schema:
          type: string
          format: uuid
      - name: vaultProfileUuid
        in: path
        description: UUID of vault profile
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Vault Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultProfileDetailDto"
    put:
      tags:
      - Vault Profile Management
      summary: Update a Vault Profile
      operationId: updateVaultProfile
      parameters:
      - name: vaultUuid
        in: path
        description: UUID of Vault Instance
        required: true
        schema:
          type: string
          format: uuid
      - name: vaultProfileUuid
        in: path
        description: UUID of vault profile
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultProfileUpdateRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Vault Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultProfileDetailDto"
    delete:
      tags:
      - Vault Profile Management
      summary: Delete a Vault Profile
      operationId: deleteVaultProfile
      parameters:
      - name: vaultUuid
        in: path
        description: UUID of Vault Instance
        required: true
        schema:
          type: string
          format: uuid
      - name: vaultProfileUuid
        in: path
        description: UUID of vault profile
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "204":
          description: Vault Profile deleted
  /v1/vaults/{uuid}:
    get:
      tags:
      - Vault Instance Management
      summary: Details of a Vault instance
      operationId: getVaultInstanceDetails
      parameters:
      - name: uuid
        in: path
        description: Vault instance UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Vault instance details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultInstanceDetailDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - Vault Instance Management
      summary: Update a Vault instance
      operationId: updateVaultInstance
      parameters:
      - name: uuid
        in: path
        description: Vault instance UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultInstanceUpdateRequestDto"
        required: true
      responses:
        "200":
          description: Vault instance updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultInstanceDetailDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Vault Instance Management
      summary: Delete a Vault instance
      operationId: deleteVaultInstance
      parameters:
      - name: uuid
        in: path
        description: Vault instance UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Vault instance deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/users/{userUuid}:
    get:
      tags:
      - User Management
      summary: Get user details
      operationId: getUser
      parameters:
      - name: userUuid
        in: path
        description: User UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: User details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - User Management
      summary: Update User
      operationId: updateUser
      parameters:
      - name: userUuid
        in: path
        description: User UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequestDto"
        required: true
      responses:
        "200":
          description: User details updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - User Management
      summary: Delete User
      operationId: deleteUser
      parameters:
      - name: userUuid
        in: path
        description: User UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: User deleted
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/users/{userUuid}/roles/{roleUuid}:
    put:
      tags:
      - User Management
      summary: Add role to User
      operationId: addRole
      parameters:
      - name: userUuid
        in: path
        description: User UUID
        required: true
        schema:
          type: string
      - name: roleUuid
        in: path
        description: Role UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: User roles updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "404":
          description: User or Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - User Management
      summary: Remove role from User
      operationId: removeRole
      parameters:
      - name: userUuid
        in: path
        description: User UUID
        required: true
        schema:
          type: string
      - name: roleUuid
        in: path
        description: Role UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: User roles removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "404":
          description: User or Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/tspProfiles/{uuid}:
    get:
      tags:
      - TSP Profile Management
      summary: Details of a TSP Profile
      operationId: getTspProfile
      parameters:
      - name: uuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: TSP Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspProfileDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - TSP Profile Management
      summary: Update TSP Profile
      operationId: updateTspProfile
      parameters:
      - name: uuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TspProfileRequestDto"
        required: true
      responses:
        "200":
          description: TSP Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspProfileDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - TSP Profile Management
      summary: Delete TSP Profile
      operationId: deleteTspProfile
      parameters:
      - name: uuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: TSP Profile deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/tspProfiles/{tspProfileUuid}/basicCredentials/{uuid}:
    get:
      tags:
      - TSP Profile Basic Credential Management
      summary: Get a Basic credential
      operationId: getTspProfileBasicCredential
      parameters:
      - name: tspProfileUuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: uuid
        in: path
        description: Basic credential UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Basic credential retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspBasicCredentialDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - TSP Profile Basic Credential Management
      summary: Update a Basic credential
      operationId: updateTspProfileBasicCredential
      parameters:
      - name: tspProfileUuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: uuid
        in: path
        description: Basic credential UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TspBasicCredentialUpdateRequestDto"
        required: true
      responses:
        "200":
          description: Basic credential updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspBasicCredentialDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "503":
          description: Vault Connector Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - TSP Profile Basic Credential Management
      summary: Delete a Basic credential
      operationId: deleteTspProfileBasicCredential
      parameters:
      - name: tspProfileUuid
        in: path
        description: TSP Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: uuid
        in: path
        description: Basic credential UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Basic credential deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Vault Connector Unavailable
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/tokens/{uuid}:
    get:
      tags:
      - Token Instance Management
      summary: Get Token Instance Detail
      operationId: getTokenInstance
      parameters:
      - name: uuid
        in: path
        description: UUID of the Token Instance
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Token Instance Detail retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Token Instance Management
      summary: Update Token Instance
      operationId: updateTokenInstance
      parameters:
      - name: uuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenInstanceRequestDto"
        required: true
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Token Instance Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Token Instance Management
      summary: Delete Token Instance
      operationId: deleteTokenInstance
      parameters:
      - name: uuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Token Instance deleted
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    patch:
      tags:
      - Token Instance Management
      summary: Reload Token Instance status
      operationId: reloadStatus
      parameters:
      - name: uuid
        in: path
        description: UUID of the Token Instance
        required: true
        schema:
          type: string
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Token Instance Status Reloaded from Connector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/tokens/{tokenInstanceUuid}/tokenProfiles/{uuid}:
    get:
      tags:
      - Token Profile Management
      summary: Details of Token Profile
      operationId: getTokenProfile
      parameters:
      - name: tokenInstanceUuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      - name: uuid
        in: path
        description: Token Profile UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Token Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenProfileDetailDto"
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Token Profile Management
      summary: Edit Token Profile
      operationId: editTokenProfile
      parameters:
      - name: tokenInstanceUuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      - name: uuid
        in: path
        description: Token Profile UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditTokenProfileRequestDto"
        required: true
      responses:
        "200":
          description: Token Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenProfileDetailDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "404":
          description: Token Profile or Token instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Token Profile Management
      summary: Delete Token Profile
      operationId: deleteTokenProfile
      parameters:
      - name: tokenInstanceUuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      - name: uuid
        in: path
        description: Token Profile UUID
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Token Profile deleted
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/tokens/{tokenInstanceUuid}/tokenProfiles/{tokenProfileUuid}/usages:
    put:
      tags:
      - Token Profile Management
      summary: Update Key Usage
      operationId: updateKeyUsages
      parameters:
      - name: tokenInstanceUuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      - name: tokenProfileUuid
        in: path
        description: Token Profile UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenProfileKeyUsageRequestDto"
        required: true
      responses:
        "204":
          description: Key Usages Updated
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/tokens/{tokenInstanceUuid}/keys/{uuid}/usages:
    put:
      tags:
      - Cryptographic Key Management
      summary: Update Key Usage with Token Instance
      description: "If the request body provided, only those key items will be updated.\
        \ If the request body is not provided or given empty, then the entire key\
        \ will be updated"
      operationId: updateKeyUsagesWithToken
      parameters:
      - name: tokenInstanceUuid
        in: path
        description: Token Instance UUID
        required: true
        schema:
          type: string
      - name: uuid
        in: path
        description: Key UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateKeyUsageRequestDto"
        required: true
      responses:
        "204":
          description: Keys Usages Updates
        "404":
          description: Key or token instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
      deprecated: true
  /v1/tokens/usages:
    put:
      tags:
      - Token Profile Management
      summary: Update Key Usages for Multiple Token Profiles
      operationId: updateKeysUsages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkTokenProfileKeyUsageRequestDto"
        required: true
      responses:
        "204":
          description: Key Usages Updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/timeQualityConfigurations/{uuid}:
    get:
      tags:
      - Time Quality Configuration Management
      summary: Details of a Time Quality Configuration
      operationId: getTimeQualityConfiguration
      parameters:
      - name: uuid
        in: path
        description: Time Quality Configuration UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Time Quality Configuration details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeQualityConfigurationDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - Time Quality Configuration Management
      summary: Update Time Quality Configuration
      operationId: updateTimeQualityConfiguration
      parameters:
      - name: uuid
        in: path
        description: Time Quality Configuration UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimeQualityConfigurationRequestDto"
        required: true
      responses:
        "200":
          description: Time Quality Configuration updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeQualityConfigurationDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Time Quality Configuration Management
      summary: Delete Time Quality Configuration
      operationId: deleteTimeQualityConfiguration
      parameters:
      - name: uuid
        in: path
        description: Time Quality Configuration UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Time Quality Configuration deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/signingProfiles/{uuid}:
    get:
      tags:
      - Signing Profile Management
      summary: "Details of a Signing Profile. If no specific version is provided,\
        \ the latest version will be returned."
      operationId: getSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: version
        in: query
        description: Specific version of the Signing Profile
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Signing Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningProfileDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    put:
      tags:
      - Signing Profile Management
      summary: Update Signing Profile
      description: |-
        Request to update an existing Signing Profile.
        If there are existing Signing Records produced using this Signing Profile, creates a new version of Signing Profile.
        Otherwise updates the latest version in-place.
      operationId: updateSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SigningProfileRequestDto"
        required: true
      responses:
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Signing Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningProfileDto"
        "409":
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Error Message 1
              - Error Message 2
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
    delete:
      tags:
      - Signing Profile Management
      summary: Delete Signing Profile
      operationId: deleteSigningProfile
      parameters:
      - name: uuid
        in: path
        description: Signing Profile UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Signing Profile deleted
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
  /v1/settings/platform:
    get:
      tags:
      - Settings
      summary: Get platform settings
      operationId: getPlatformSettings
      responses:
        "200":
          description: Platform settings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformSettingsDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Settings
      summary: Update platform settings
      operationId: updatePlatformSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformSettingsUpdateDto"
        required: true
      responses:
        "204":
          description: Setting updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/settings/platform/branding:
    get:
      tags:
      - Settings
      summary: Get platform branding
      description: "Reads the branding category of the platform settings. Branding\
        \ is also returned by `GET /v1/settings/platform`; only the write is split\
        \ onto a dedicated endpoint, because reading it takes the same grant either\
        \ way."
      operationId: getBrandingSettings
      responses:
        "200":
          description: Platform branding retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandingSettingsDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Settings
      summary: Update platform branding
      description: |-
        The only way to write branding.

        **Authorization:** gated by `UPDATE_BRANDING`, a narrower action than the `UPDATE` that gates the rest of settings. Authorization is applied per endpoint. Branding is therefore deliberately absent from the `PUT /v1/settings/platform` body. Carried there, it would be writable by anyone holding plain `UPDATE`, leaving `UPDATE_BRANDING` nothing extra to grant.

        **Request semantics:** the request carries the full desired state. A field left out clears that part of the branding.
      operationId: updateBrandingSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrandingSettingsUpdateDto"
        required: true
      responses:
        "204":
          description: Platform branding updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/settings/logging:
    get:
      tags:
      - Settings
      summary: Get logging settings
      operationId: getLoggingSettings
      responses:
        "200":
          description: Logging settings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggingSettingsDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Settings
      summary: Update logging settings
      operationId: updateLoggingSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoggingSettingsDto"
        required: true
      responses:
        "200":
          description: Logging settings updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
  /v1/settings/events:
    get:
      tags:
      - Settings
      summary: Get events settings
      operationId: getEventsSettings
      responses:
        "200":
          description: Notification settings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsSettingsDto"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    put:
      tags:
      - Settings
      summary: Update multiple events settings
      operationId: updateEventsSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventsSettingsDto"
        required: true
      responses:
        "204":
          description: Setting updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "500":
          description: Internal Server Error
    patch:
      tags:
      - Settings
      summary: Update single event settings
      operationId: updateEventSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventSettingsDto"
        required: true
      responses:
        "204":
          description: Setting updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
[...]
